[2013-07-08 03:30] jandetlefsen opened #6 "getting an exception error"
seems like base.py in the file storage app is throwing an exception error that the health check module can't handle so i'm getting an error page instead of the status page.

see error message

Environment:

Request Method: GET

Django Version: 1.5.1
Python Version: 2.7.3
Installed Applications:
('django.contrib.auth',
 'django.contrib.contenttypes',
 'django.contrib.sessions',
 'django.contrib.sit

[2013-07-08 04:50] jandetlefsen commented on #6
might have been premature to send this issue, checking my file storage settings.

[2014-10-03 14:21] alesdotio opened #10 "Throw exception instead of just rendering the error page"
This way the exception can be logged, making it easier to identify disruptions.

[2014-10-21 09:17] stefanfoulis opened #14 "log exceptions"
To make actually debugging an error easier, it would be nice if the error could be logged using standard logging. This would be an alternative approach to #10 .
The "status" could also include the very short version of the exception (or just the Exception class) as information instead of just "unavailable".

[2014-11-19 15:00] stefanfoulis opened #15 "release 1.0.1"
with the packaging fixes :-)

[2014-12-02 18:31] failedguidedog commented on #6
Might be related to this: #16

[2014-12-13 04:39] peterfarrell opened #17 "DefaultFileStorageHealthCheck fails if backend is Amazon S3"
If the backend storage is Amazon S3, the health check fails when it tries to check existence of the deleted test file.

[code]

https://github.com/KristianOellegaard/django-health-check/blob/master/health_check_storage/base.py#L50-L52

The issue is that it take moment for S3 to actually delete the file and therefore the health check fails because the file still exists. It gets to the `exists()` be

[2014-12-24 23:09] maestrofjp opened #18 "Health check for Haystack"
Would you accept a PR for a health check that pings a Django-Haystack search backend?

[2014-12-25 11:33] KristianOellegaard commented on #18
Hi there,

I think the best would be to make a separate package which just adds haystack, e.g. django-health-check-haystack. I'm sure a many other users would find that useful as well!

Merry Christmas!

Kristian

[2014-12-26 01:45] maestrofjp commented on #18
Ok, I can do that... Considering you already support Celery...I thought it
might be good to have in the same package.
On Dec 25, 2014 5:33 AM, "Kristian Øllegaard" notifications@github.com
wrote:

[2015-01-21 00:09] stefanfoulis commented on #15
@KristianOellegaard ping :-)

[2015-01-28 23:45] jairhenrique opened #23 "Travis"
Enable travis-ci!

[2015-02-13 15:10] czpython opened #25 "we should explicitly set ignore_results=False on celery task"
no matter how the project's celery app is configured, we should set the add task to never ignore results, otherwise the healthcheck will wrongfully fail.

[2015-02-13 15:17] czpython commented on #25
fixed by a9c81ed89fb91f6ff881318fdec41172a5d4a6df

[2015-02-13 15:17] #25 closed, assigned to nobody

[2015-10-28 10:36] tomtom5152 opened #32 "Celery3 Python3 issues"
Really simple one that if I get time later I will make a PR for.

[health_check_celery3/plugin_health_check.py:23](https://github.com/KristianOellegaard/django-health-check/blob/73867e4423c39dfac8aba3639faf5fb92cc1bc54/health_check_celery3/plugin_health_check.py#L20) has an old style Python 2 print statement that is missing Py3's parenthesis causing a 500 to be generated.

[2016-01-19 15:24] justinabrahms opened #36 "Tests?"
Given the critical nature of this sort of application, it would be really nice if there were tests that this actually works, which are run in a CI server (see #23).

[2016-03-07 08:42] guettli opened #37 "Pypi page looks strange"
The pypi page of your project looks strange: https://pypi.python.org/pypi/django-health-check

AFAIK pypi does not support mark-down. You need to use reStructuredText.

[2016-03-07 08:47] guettli opened #38 "Hourly checks from 8:00 to 18:00"
I am interested in your project.

I am looking for a django application that lets my specify things like:
- do check `foo` monday to friday hourly between 8:00 and 18:00.

The times and checks need to be configurable via admin (storing the values in db is preferred).

Is this possible with django-health-check?

[2016-03-07 08:51] guettli opened #39 "Your app is missing in the comparision grid for monitoring"
Your app is missing in the comparison grid for monitoring:

https://www.djangopackages.com/grids/g/monitoring/

[2016-05-10 19:45] ghost commented on #38
I'm not the author of this library but I'd say this: setting up monitoring should be done out side the scope of this library. You can find other tools to schedule http calls to the health check endpoint. For instance, the author mentioned in the README https://www.pingdom.com/ but there is tons of them out there. Another option is to write a small script and set it up as a cron job.

Hope this hel

[2016-05-10 19:49] ghost commented on #36
I'll drop this here. I think it'd be really nice to set it up using tox http://tox.readthedocs.io/en/latest/ it works well locally and it is easy to use with travis-ci.

[2016-05-17 11:15] guettli commented on #38
@jackdbernier  thank your feedback. I close this issue, since my question is answered now.

[2016-05-17 11:15] #38 closed, assigned to nobody

[2016-05-17 13:26] codingjoe commented on #38
@guettli we use pingdom and health-check to track our uptime. You can tell pingdom what to check for and create downtime alerts if services covered by django-heath-check should fail.

[2016-05-17 13:28] codingjoe commented on #36
Check out #41 I'm just waiting or @KristianOellegaard to enable travis-ci and we're ready to write tests.

[2016-05-17 13:28] #36 closed, assigned to nobody

[2016-06-27 16:27] #23 closed, assigned to nobody

[2016-06-28 09:33] samuelfekete opened #43 "Error: backend does not implement forget"
I am getting this error when using health_check_celery3 with AMQP as the backend.

[2016-06-28 17:08] codingjoe commented on #43
Do you have a little more information for me?

[2016-06-30 09:58] samuelfekete commented on #43
It seems that health_check_celery3 calls 'forget' https://github.com/KristianOellegaard/django-health-check/blob/master/health_check_celery3/plugin_health_check.py#L30, which isn't supported by all backends. This results in an error even when Celery is working perfectly fine.

[2016-07-01 13:18] codingjoe commented on #43
@samuelfekete looks like a bug to me. Do you have a solution for it?

[2016-07-01 13:19] codingjoe commented on #43
Contributions are always welcome ;)

[2016-07-01 14:43] samuelfekete commented on #43
If not all backends support forget, then perhaps `result.forget()` should be surrounded with a `try... except NotImplementedError`, which can be ignored.

[2016-07-03 16:34] codingjoe commented on #43
@samuelfekete if you put that into a pull-request and add a test, I'll merge it right away 😉

[2016-07-05 10:30] samuelfekete commented on #43
Here's the pull-request: https://github.com/KristianOellegaard/django-health-check/pull/44
@codingjoe if you add tests for the celery3 health check, I'll add a test for this case ;)

[2016-07-08 08:21] codingjoe commented on #43
@samuelfekete that is a good point. I know it's not nice to ask for tests, if there none to extend.
I'll try to make it happen soon.

[2016-07-12 05:21] lukasz-karolewski opened #45 "please push new version, 1.0.2 doesn't work with django 1.9, and issue is already fixed in master"
issue was fixed here
https://github.com/KristianOellegaard/django-health-check/commit/0e861b70232de37533c81a754c395427fac428b1

can you please push new version?

[2016-07-12 08:26] codingjoe commented on #45
Hi @kether667 I'd very much like to, but I'm still waiting for @KristianOellegaard to give me permission to do so.

[2016-07-12 09:06] codingjoe commented on #45
@kether667 version 1.1.0 should be on it's way now :)

[2016-07-12 09:06] #45 closed, assigned to KristianOellegaard

[2016-07-12 21:07] bufke opened #46 "Django 1.10 support"
Hello - Django 1.10 is on beta now. I'd be happy to add support via a pull request if you would like. Right now we get these warnings in 1.9

[code]

Should be trivial to fix.

[2016-08-11 18:34] mspeedy opened #47 "Storage base check_status returns errors instead of raising them"
In health_check_storage.base.check_status in two of the if statements, the code returns an error instead of raising it. Therefore if the file contents are not equal to what is read, or if it is improperly deleted, the status of the plugin will be set to ServiceUnavailable(msg), rather than its numbered error code. The error is then raised when pretty_status attempts to to translate the ServiceUnav

[2016-08-14 08:47] codingjoe commented on #47
I know, I already have a branch that I'm working on, where I refactored it into using raise instead of return. Thanks!

[2016-08-14 08:47] #47 closed, assigned to nobody

[2016-08-15 15:49] mspeedy commented on #47
Ah, I see that now, thanks! I'm currently writing tests for the storage, cache, and database health checks that mock the backend sources to find that sort of thing if you're interested.

[2016-08-15 16:37] codingjoe commented on #47
@mspeedy yes please!!!

[2016-08-17 06:57] #46 closed, assigned to nobody

[2016-08-23 21:44] mspeedy commented on #47
Tests are all done! I initially wrote them using the django testing library in my local project, though, so I realized too late they couldn't easily transfer, since you've been using pytest. I added the necessary features to make it a django project in my repo so the tests can run, but I'm not sure how that would work in prod. Let me know what you think should be done.

[2016-08-25 08:11] codingjoe commented on #47
@mspeedy would you mind opening up a PR? That would make reviewing and leaving notes a lot easier. I'm really excited!

[2016-09-15 18:02] wholeinsoul commented on #18
Hi @maestrofjp : did you ever submit the PR ? Thank you.

[2016-09-15 18:04] maestrofjp commented on #18
I did not get to making a PR. My current job has no need for it at the
moment.

On Sep 15, 2016 1:02 PM, "bishtpradeep" notifications@github.com wrote:

[2016-09-19 15:04] AstraLuma opened #52 "No Migrations"
No migrations are packaged with `django-health-check`. This renders `health_check_db` useless under modern Django.

Please run `manage.py makemigrations`.

[2016-09-26 18:17] AstraLuma opened #53 "Not compatible with explicit AppConfig"
If an [exact `AppConfig reference](https://docs.djangoproject.com/en/1.10/ref/applications/#for-application-users) is given in `INSTALLED_APPS` (instead of a package name), `django-health-check` fails with:

[code]

[2016-09-26 22:46] #52 closed, assigned to nobody

[2016-09-27 19:39] ananthb commented on #53
I've run unto the exact same issue. Changed it up by using default_app_config in __init__.py, but I would love a fix for this. Is the issue stemming from using settings.INSTALLED_APPS instead of django.apps.apps here: https://github.com/KristianOellegaard/django-health-check/blob/master/health_check/__init__.py#L24

[2016-09-28 15:11] AstraLuma commented on #53
@ananthb My problem is that it's with `django.contrib.admin`, so I can't just change the `default_app_config`.

[2016-09-28 18:10] joekiller opened #57 "Migration for db not included in python egg"
The newly included database check migrations are not included in the egg when it is distributed.

[2016-09-30 17:12] joekiller commented on #57
@codingjoe could we get a version bump to fix this bug?

[2016-10-04 19:19] #57 closed, assigned to nobody

[2016-10-04 19:52] joekiller commented on #57
Thanks!

[2016-10-05 06:40] #53 closed, assigned to nobody

[2016-10-07 08:51] primoz-k opened #59 "Green indicators are not working"
So, I just noticed that in my template working checks result as `status_True` instead of `status_1`.

Unavailable checks result as `status_0` as they should.

Is this just me or is anyone else experiencing the same issue?

[2016-10-09 11:47] codingjoe commented on #59
There seems to be a bug how the name is created. I guess it casts boolean to string. Where `str(True)` is `'True'`.

[2016-10-10 13:02] primoz-k commented on #59
Thanks for the response.

I'm guessing the problem is here:

[code]

https://github.com/KristianOellegaard/django-health-check/blob/master/health_check/backends/base.py#L41

Template fetches this `True` value from `check_status()` here:

[code]

 https://github.com/KristianOellegaard/django-health-check/blob/master/health_check/templates/health_check/dashboard.html#L54

In case of any Exceptions,

[2016-11-02 07:12] tristanguo opened #60 "cannot import name autodiscover_modules"
A legacy project with Django 1.6.3.

There is no such module in django.utils.module_loading?

_Django Version:	1.6.3
Exception Type:	ImportError
Exception Value:
cannot import name autodiscover_modules
Exception Location:	/Users/tristanguo/workspace/python_envs/xxx/lib/python2.7/site-packages/health_check/__init__.py in autodiscover, line 20_

[2016-11-06 11:56] codingjoe commented on #60
Hi @tristanguo, I guess this is a change in Django? You might want to check their release notes.
But since Django 1.6 is no longer supported by the DSF itself, we dropped support too.

[2016-11-06 11:56] #60 closed, assigned to nobody

[2016-11-11 03:11] tristanguo commented on #60
OK, thanks, guess it was changed by django.

[2016-11-21 16:01] christopherdcunha opened #61 "DB migrations fail when upgrading to v1.2.0"
# Tested with

- django 1.8.15
- django-health-check 1.1.4 migrated to 1.2.0

# Steps to reproduce
[Install django 1.8.15 and django-health-check 1.1.4](#given1)
[Configure django-health-check](#given2)
[Migrate the database](#given3)
[Upgrade to django-health-check 1.2.0](#when1)
[Migrate the database and see that the migration fails](#then)

# Work arounds
[Fake the database migration](#workarou

[2016-11-28 09:16] codingjoe commented on #61
@christopherdcunha seems to be valid. I don't know what happened in those versions tho. I don't think there is any way to fix this, since both versions are released and I can't chance the past.

I will leave this ticket, so people will know how to work around the issue, should they bump into it too.

Thanks!

[2016-11-28 09:16] #61 closed, assigned to nobody

[2016-12-03 16:50] aleksihakli opened #62 "Project updates"
Hi,

I was planning on contributing the following updates to the project:

- Rewrite the bundled storage backend to internally provide and use `check_save` and `check_delete` methods that could be overridden per storage backend instead of overriding the whole `check_status` backend. This would not be a breaking change and would
- Add a bundled S3 storage backend checker for AWS health checking com

[2016-12-04 13:18] aleksihakli commented on #32
This seems to fixed and could be closed.

[2016-12-05 14:33] #32 closed, assigned to nobody

[2016-12-05 14:33] codingjoe commented on #32
@aleksihakli thanks for the info

[2016-12-05 14:37] codingjoe commented on #62
@aleksihakli thanks I've seen your PR and left a comment. Please split those things as much as possible. That way we can merge them faster.

[2016-12-05 17:01] aleksihakli commented on #62
@codingjoe Hey Joe. I've split the pull requests into 4 smaller PRs, #64, #65, #66 and #67. The logging change, #64, is necessary for cleaner and more concise logging and error handling in the project and I will contribute another set of changes to improve the existing backends if that change gets accepted.

[2016-12-06 10:25] #37 closed, assigned to nobody

[2016-12-06 17:08] codingjoe commented on #62
I haven't looked into the logging PR yet, but I will. You can also check out the [MajorRefactoring PR](https://github.com/KristianOellegaard/django-health-check/pull/40). I did make a lot of changes there, but never found the time to split them into smaller chunks and to merge them.
Maybe you find something interesting in there.

What I currently very much dislike this that some methods return Exc

[2016-12-07 15:48] aleksihakli commented on #62
Hey,

I actually saw at least two return statements which are fixed in the S3BotoStorage patch. I'll take a look at the major refactoring patchset and see if it could be rebased into smaller chunks on top of master too.

I'll be contributing some tests later on for a bit more comprehensive coverage.

EDIT: Return behaviour corrected to Raise in here: https://github.com/KristianOellegaard/django-he

[2016-12-08 07:00] guettli commented on #37
Looks good now. Thank you

[2016-12-08 12:46] codingjoe commented on #62
@aleksihakli yeah, the smaller the better and tests if possible. That is the biggest issue really. There are no tests :/

[2016-12-14 15:07] aleksihakli commented on #15
I think this could be closed as well @codingjoe

[2016-12-14 15:08] aleksihakli commented on #6
This could be closed as well @codingjoe

[2016-12-15 12:09] #17 closed, assigned to nobody

[2016-12-15 12:23] #15 closed, assigned to nobody

[2016-12-15 12:23] #6 closed, assigned to nobody

[2016-12-15 13:42] aleksihakli commented on #10
I think this is mostly solved now as well and problems with the backend cause errors to be thrown, so this could be closed too @codingjoe.

[2016-12-16 13:17] aleksihakli commented on #62
All changes merged in the original proposal, so closed.

[2016-12-16 13:17] #62 closed, assigned to nobody

[2016-12-16 13:22] aleksihakli commented on #39
Tried to add a grid page but it seems Django Packages is going over maintainer migration and can not be updated at this time:

https://github.com/pydanny/djangopackages/issues

[2016-12-19 04:56] Beomi opened #70 "Supports for Celery4"
Celery4 is relased now.
Does django-health-check supports celery 4?

[2016-12-19 06:17] aleksihakli commented on #70
Hey @Beomi!

The current [Celery package we use for testing is actually 4.0.1](https://github.com/KristianOellegaard/django-health-check/blob/master/requirements-dev.txt), so the current version already supports Celery 4.

[2016-12-23 10:23] aleksihakli commented on #70
*UPDATE*: On a closer inspection it seems like `@shared_task` in Celery 3 and 4 specific and the Celery support can be checked with the same code base for them:

http://docs.celeryproject.org/en/3.1/django/first-steps-with-django.html?highlight=shared_task
http://docs.celeryproject.org/en/v4.0.2/django/first-steps-with-django.html?highlight=shared_task

But Celery 2 actually uses the `@task` decor

[2016-12-24 09:48] MarcoGlauser opened #74 "Use get() instead of polling for celery health check"
Hey
I'd like to refactor the celery health check to remove the self implemented polling of the result and instead use [result.get()](http://docs.celeryproject.org/en/latest/reference/celery.result.html#celery.result.ResultSet.get). This way we wouldn't be using polling for the rabbitmq,redis,memcached backends. Also we could use the timeout parameter of get() so we get the celery.exceptions.Timeou

[2016-12-24 12:47] aleksihakli commented on #74
Hey!

Seems like this would be a great API compatible thing to implement. The `AsyncResult.get` API is available in all versions of Celery: [version 4](http://docs.celeryproject.org/en/v4.0.2/reference/celery.result.html#celery.result.AsyncResult.get), [version 3](http://docs.celeryproject.org/en/3.1/reference/celery.result.html#celery.result.AsyncResult.get), and the [archived version 2](http://d

[2016-12-29 11:41] #10 closed, assigned to nobody

[2016-12-29 11:53] codingjoe commented on #70
As I said in the ticket. Just drop the celery 2 backend.

[2016-12-29 11:55] codingjoe commented on #74
@MarcoGlauser that a very good idea. I actually use a very different backend on my own production systems, but sure.

Regarding the version support. We only need to support celery 4. We don't test for any other version. Legacy support just makes maintaining this package that much more difficult.

[2016-12-29 13:26] MarcoGlauser commented on #74
Alright thanks for the feedback! I'll probably start with this next week and then create a PR once I'm done.

[2016-12-30 15:31] codingjoe commented on #74
@MarcoGlauser I gave it a try myself. Check out the develop branch. It would be cool if you could actually test it too.

I haven't added documentation about the changes yet, but I will soon.

[2017-01-03 19:42] morenoh149 opened #76 "Conform to Simple Standard Service Endpoints Spec"
Hello, I've been researching the topic of api monitoring and came across your django package.
I also came across this spec https://github.com/beamly/SE4/blob/master/SE4.md
Was wondering if there's any ideas in the spec your project could borrow from?

best,

[2017-01-03 22:43] codingjoe commented on #76
@morenoh149 we implement ASG, that could be documented I guess. Also @aleksihakli is working on a JSON endpoint. That should Healthcheck I guess.  @aleksihakli what do you think?

[2017-01-03 23:12] morenoh149 opened #77 "Installation steps"
My django project may be nonstandard hence my troubles.

I have made the following changes

[code]

[code]

[code]

[code]

I get the error
[code]

[2017-01-04 10:31] codingjoe commented on #77
@morenoh149 you did register it to the django admin ;) Does that solve your issue?

[2017-01-04 16:09] morenoh149 commented on #77
this line?
`+django.contrib.admin.site.register(CustomTest)`

How does one register a package in the django admin?

[2017-01-04 17:40] aleksihakli commented on #77
You are not supposed to register the package to the admin site but the health check plugin directory. Try removing the admin registration and see how the built in modules register. Make sure to look in the master branch.

[2017-01-04 17:44] codingjoe commented on #77
@morenoh149 `health_check.plugins.plugin_dir.register()`

[2017-01-05 18:27] #77 closed, assigned to nobody

[2017-01-07 13:13] #74 closed, assigned to nobody

[2017-01-09 08:17] MarcoGlauser commented on #74
Sorry didn't get to test it earlier.
I tested it today and it's working great. It halved the time the health check takes with a rabbitmq broker and redis backend!

[2017-01-09 09:02] codingjoe commented on #74
That's good to hear!

[2017-01-10 08:05] aleksihakli commented on #70
@codingjoe This could be closed.

[2017-01-10 08:16] aleksihakli commented on #76
GTG is implemented functionally as well. Config is ready SE4 spec wise in #80.

I think conforming to the SE4 check spec would be smart and we could gradually extend the current API with SE4 endpoints that we want to offer externally. I think the smart ones would be:

- Service Canary (ASG, externally available)
- Good-to-Go (GTG, externally available)
- Config (externally available)
- Healthcheck

[2017-01-10 08:48] aleksihakli commented on #14
I think this could be closed as well @codingjoe.

[2017-01-10 16:26] morenoh149 commented on #76
In my implementation I only made gtg and asg openly available. Making config available felt like it'd make it too easy to hack the service.

[2017-01-10 16:35] #14 closed, assigned to nobody

[2017-01-10 16:35] #70 closed, assigned to nobody

[2017-01-11 13:32] courcelm opened #81 "Redis cache ConnectionError"
For Redis cache backend, I would be great to add ConnectionError exception.

[2017-01-11 14:33] courcelm commented on #81
Nevermind. I switched from django-redis-cache to django-redis and added "IGNORE_EXCEPTIONS": True. With these parameters, the health check cache backend does its job.

[2017-01-11 14:33] #81 closed, assigned to nobody

[2017-01-11 15:34] aleksihakli commented on #43
I think this can be closed too @codingjoe.

[2017-01-11 15:35] aleksihakli commented on #59
This can be closed too @codingjoe?

[2017-01-11 15:46] aleksihakli commented on #76
On a closer inspection we currently don't support GTG as we only check if plugins succeed from checks. A failure means the service is in non-operational state. We don't have a "partially working" check. We only offer "working" or "not working".

I guess we could add a `text/plain` response with `"OK"` easily and people could register the health check endpoint under `/service/asg` (or `/service/gtg

[2017-01-12 22:08] #59 closed, assigned to codingjoe

[2017-01-12 22:08] #43 closed, assigned to codingjoe

[2017-01-12 22:17] codingjoe commented on #76
@aleksihakli have you seen: https://github.com/mwarkentin/django-watchman
I haven't tested it yet, since I just found it. Looks very promising.

[2017-01-13 09:25] aleksihakli commented on #76
@codingjoe Watchman seems pretty neat but it isn't very KISS to be honest. A lot of features and feature duplication in there and you can't toggle some features. The design seems very mature though and I like the schemas they use. I think we should adopt some of them good ideas.

Do you mean the JSON schemas or other things as well?

[2017-01-13 10:44] codingjoe commented on #76
Yeah, I know. Question is, do we want to bloat this package, or keep it very very simple. Furthermore, I don't know if we shouldn't join forces. I don't know if this topic is worth package diversity.

[2017-01-13 12:58] aleksihakli commented on #76
I thought of the same thing about package diversity. One really good package would be a lot better than two decent ones.

A lot of work would, however, go into possibly merging the packages or porting essential functionality between code bases. On the other hand maintaining multiple different packages for the same purpose can be some work.

I think `django-watchman` offers much of our functionalit

[2017-01-14 12:45] codingjoe commented on #76
Ok, I agree. Honestly I'm happy what this package does so far. It could be better, but it does the job.

[2017-01-14 17:47] KristianOellegaard commented on #76
We are also just using the simplicity of django health check and we're happy with the limited feature set, which on the contrary makes it a super easy component to add to any django app we deploy.

[2017-01-27 16:47] jheld opened #90 "notify admin on 500"
Would you accept a PR for implementing a custom setting (via a settings.py that reads from the project) to notify admins of 500s?
If True, and maybe some other fine-tuned details, the admin/people/endpoint will get notified of an error, and by default/False, they won't.

I realize monitoring and bot services can do this for us, but in the case of not using those services, it may be nice to have th

[2017-01-27 21:57] codingjoe commented on #90
Sure we would! Make sure it's opt-in tho. Cool, I'm looking forward!

[2017-01-28 10:49] aleksihakli commented on #90
Email based logging error reporting such as that Django has would be a great way to implement this.

If this could be integrated into the logging framework it could also notify other backends and console using the Django default logging API, producing more verbose and traceable messages.

[2017-01-28 15:21] jheld commented on #90
It looks like the `add_error` method on `BaseHealthCheckBackend` already handles logging (by the health-check logger name). So, yeah, there may not even be a need to adjust the project at all. I think the onus would just be on the consumer project to ensure the health-check logger is defined.

Feel free to verify on your end.

[2017-01-30 14:06] codingjoe commented on #90
Sure, a consumer would solve this issue. Further more, I think it is best to have an external service inform you about outage. What if you email server is the service that is down. You would never be notified.

[2017-01-30 14:06] #90 closed, assigned to codingjoe

[2017-01-31 18:53] aleksihakli commented on #39
Django Packages is finally fixed and the package has been updated:

https://djangopackages.org/packages/p/django-health-check/

This can be closed @codingjoe.

[2017-02-05 15:51] #39 closed, assigned to nobody

[2017-02-06 11:53] aleksihakli opened #93 "Development status and assorted properties not defined in the PyPI page"
Project PyPI page does not have a Development Status defined:

https://pypi.python.org/pypi/django-health-check

And it shows status as unknown in Django Packages:

https://djangopackages.org/packages/p/django-health-check/

I think the following [trove classifiers](https://pypi.python.org/pypi?%3Aaction=list_classifiers) could be added for the project to make it easier to find:

[code]

Some of t

[2017-02-06 15:47] codingjoe commented on #93
Production seems correct to me. Can't wait for your PR ;)

[2017-02-07 13:53] aleksihakli commented on #93
PR in #96 with the classifiers discussed here.

[2017-02-07 15:15] #93 closed, assigned to nobody

[2017-03-02 12:06] mirzadelic commented on #18
Any news about this feature?
It would be great to have this.

[2017-03-02 13:33] codingjoe commented on #18
Not that I would know of. But if you write one, let me know :)

[2017-03-03 16:14] courcelm opened #99 "Celery backend"
I'm getting the following error with the celery backend:

[2017-03-03 11:12:08,194: INFO/MainProcess] Discarding revoked task: health_check.contrib.celery.tasks.add[ac03c91f-c578-43d4-bf64-23f8ecdc0872]

Exception print:  expired

[2017-03-04 11:55] codingjoe commented on #99
Hmmm... what's your celery setup?

[2017-03-06 13:21] courcelm commented on #99
I have the following:
celery==4.0.2
django-celery-results==1.0.1

Redis for broker and backend

I think there is an issue with time zone but I tried to play with CELERY time zone settings without success.

Changing

result = add.apply_async(
                args=[4, 4],
                expires=datetime.now() + timedelta(seconds=timeout)
            )

to this:
result = add.apply_async(

[2017-03-06 14:18] codingjoe commented on #99
Hm... I haven't seen this one before. Do you have any clue to why this might be happening?

[2017-03-15 08:25] aleksihakli commented on #99
Hey @courcelm, if you have a working solution please don't be afraid to open a PR! [The expiration can indeed be expressed either as a datetime object or integer seconds from current time](http://docs.celeryproject.org/en/latest/userguide/calling.html#expiration), so that fix would seem to be cool :)

[2017-03-15 08:28] aleksihakli opened #101 "Update or remove GitHub page and link for the project"
At the moment the [GitHub Pages view](http://kristianoellegaard.github.com/django-health-check/) for the project are a bit outdated and, I think, a bit redundant as well, since we have a nice description on the README that is available on both GitHub, PyPI and Django Packages :) Maybe the link could be removed as outdated?

[2017-03-15 09:56] codingjoe commented on #101
@KristianOellegaard can you change the configuration for the gh page config. Please set it to master. It will automatically use the `readme.md` file. This way we have to maintain documentation only in one place.

[2017-03-15 14:36] courcelm commented on #99
Expiration expressed as an integer seconds from current time looks simpler to me and it fixed my problem. Do you need me to create a PR for this?

[2017-03-15 15:20] codingjoe commented on #99
@courcelm yes please :)

[2017-03-15 17:32] KristianOellegaard commented on #101
done :-)

[2017-03-16 13:50] aleksihakli commented on #101
The page seems to 404 now @KristianOellegaard:

http://blog.kristian.io/django-health-check/

[2017-03-16 14:30] codingjoe commented on #101
Same here :/ It works on my repos... it might be because the readme uses RST not MD :/

[2017-06-19 08:28] paurullan opened #123 "Add timer and elapsed time to checks"
We are adopting django-health-check as our base health check helper and one thing we had in our custom health checks was showing the elapsed time. For example:

[code]

I am planning to put this in django-health-check but you do not have any package dependency. Will you accept the feature even if it forces a dependency?
https://pypi.python.org/pypi/contexttimer/0.3.3

[2017-06-21 19:33] codingjoe commented on #123
Hi @paurullan,

sure if it makes sense. But since the method `check` is always called, you could just take the time before and after using `time.time`. That way you wouldn't need to add the dependency.

I'm really looking forward to see you contribution. I think it's a really cool feature.

Cheers
-Joe

[2017-07-31 10:40] thanhcg opened #135 "Timeout for waiting Self.Chanel"
Hi Kristian,

I am having this issue in the code below:
in the `MainView` get method:
[code]
In the for loop, when the plugin_class is the  health_check.contrib.celery.backends.CeleryHealthCheck, I get the timeout exception in the messaging.py file line 187:
[code]
It just occurs only when tthe plugin_class is the `health_check.contrib.celery.backends.CeleryHealthCheck`.

I have config celery==4.1

[2017-07-31 11:53] codingjoe commented on #135
Hi @thanhcg
Thanks for reaching out. I took the liberty to add some code highlighting.
Would be be so good to tell me, which version of django-health-check you are using. Can please also provide me with a full stack trace of your error? That would help me a lot.

Thanks
-Joe

[2017-08-01 01:22] thanhcg commented on #135
Hi @codingjoe,
I am using the latest version of the django-health-check (2.3.0).
I cannot get the error details because the code is stopped  in the messaging.py file line 187:
        channel = self.channel

I cannot catch the exception. Please help me to fix it.
Thanks,
Thanh

[2017-08-01 12:54] codingjoe commented on #135
@thanhcg you said you are getting a timeout exception. That is the one I am curious about. Can you please provide me with one? Otherwise I don't know how to help you. Thanks -Joe

[2017-08-22 11:37] carderm commented on #123
Hi, I've added a pull request to include a simpler version of this just using the below:
from timeit import default_timer as timer
which doesn't require any other apps -

[2017-08-31 11:37] codingjoe commented on #123
The timer was merged in 5ec5873aea4410d43b299aeda3dd3b3ceb13657a and released in v2.4.0 👍

Thanks everyone, great work 🥇

[2017-08-31 11:37] #123 closed, assigned to codingjoe

[2017-09-07 11:02] gdavoianb opened #140 "Problems with Django 1.6"
This [line](https://github.com/KristianOellegaard/django-health-check/blob/4c64730524efb26f7763f5eb070b10975a5e6193/health_check/views.py#L4) completely breaks compatibiliy with Django 1.6 (yes, we are still using it in some of our projects). I know it is easy to fix, but it is up to you decide whether you want to main compatibility.
But even after manually replacing that JsonResponse with a prope

[2017-09-07 15:26] codingjoe commented on #140
Hi @gdavoianb,

thanks for reaching out. I am sorry to say, that we are only supporting the currently supported Django versions. At this point those are Django 1.8, 1.10 and 1.11.
Furthermore we do not support old versions of this package.

This project is maintained by people in their free time without any financial incentive. I am sure you can understand why we don't support legacy versions.

Ch

[2017-09-07 15:26] #140 closed, assigned to codingjoe

[2017-09-18 15:26] GyanP opened #144 "Getting "Unknown error" for CeleryHealthCheck"
I digging this error and found the actual error "No result backend is configured" in
 https://github.com/KristianOellegaard/django-health-check/blob/master/health_check/contrib/celery/backends.py at line 20

result.get(timeout=timeout)

Can anyone help me on this?

Thanks

[2017-09-21 18:50] codingjoe commented on #144
Hi @GyanP

thanks for reaching out. I presume it's most likely because you don't have a result backend configured for celery. Check our there setup guide to see how its done.
If you have it setup, there is a trouble shooting guide for that:
http://docs.celeryproject.org/en/latest/getting-started/first-steps-with-celery.html#result-backend-doesn-t-work-or-tasks-are-always-in-pending-state

In any c

[2017-09-21 18:50] #144 closed, assigned to codingjoe

[2017-12-01 15:07] neerajprasad opened #158 "Getting exception"
Hi,
   I am implementing health check for my project and it work absolute fine until when i try to enable cache in my project.

I tried all possible way from my side but couldn't able to figure out.

Please help .
=========
Urls :
[code]
Settings: config
[code]
===========
[code]
==========

Regards,
Neeraj

[2017-12-03 08:50] codingjoe commented on #158
Hi @neerajprasad you are missing a comma in you `INSTALLED_APP` setting right after `'health_check.cache'`. I presume the next app in the list is `rest_framework`. Without the comma the strings will be appended and Django will try to import `health_check. cacherest_framework` which of course doesn't exist ;)

[2017-12-03 08:50] #158 closed, assigned to codingjoe

[2017-12-26 17:29] NBodawala opened #164 "healthcheck db required write permission?"
Hello,
I have RDS with only read permission and i am checking health-check db and i found my status was  failed .so health-check db required the write permission?

[2017-12-27 15:04] codingjoe commented on #164
Hi @nishit539687 yes it does. But you could easily write you own plugin inheriting from the existing database health check that doesn't do a write but only a read action.

[2017-12-27 15:04] #164 closed, assigned to codingjoe

[2017-12-29 18:43] NBodawala commented on #164
Thank you @codingjoe .

[2018-01-13 18:28] tobiasgoecke opened #165 "Application labels aren't unique, duplicates: celery"
After activating the celery health check in Django I got the following error:
`django.core.exceptions.ImproperlyConfigured: Application labels aren't unique, duplicates: celery`

[2018-01-14 12:55] codingjoe commented on #165
Hi @tobiasgoecke,

I believe you have a double entry in your `INSTALLED_APP` setting. Can you please check or post it here?

Best
-Joe

[2018-01-14 12:55] #165 closed, assigned to codingjoe

[2018-01-14 21:24] justinmayer opened #166 "Django system check warning on URL route entry"
The current README suggests the following urls.py entry:
[code]
However, running `django-admin check` then yields:
[code]
Removing the dollar sign caused the warning to go away, with no apparent ill effects regarding django-health-check app functionality.

[2018-01-15 17:56] #166 closed, assigned to nobody

[2018-01-20 08:19] dyve opened #170 "Documentation is gone"
http://kristianoellegaard.github.com/django-health-check/ no longer exists.

[2018-01-20 08:21] dyve opened #171 "Add ChangeLog to repo please"
Going from 2.4.0 to 3.3.0 we have no clue what is changed. Please add a CHANGELOG.md to document changes between releases.

[2018-01-20 08:23] dyve opened #172 "Dependancy missing"
Python 2.7, Django 1.11 and django-health-check 3.3.0 crash on a missing dependency:

[code]

Reverting to 2.4.0 resolves this error for now.

[2018-01-20 11:28] dyve commented on #170
Documentation on ReadTheDocs would be a great solution, I can do a PR with a skeleton for Sphinx setup.

[2018-01-20 11:28] dyve commented on #171
I can add a basic changelog to the repo and include it in the skeleton docs I suggested for #170

[2018-01-20 11:31] dyve commented on #172
Tox only runs Python 3, which does not have this issue.

I'd suggest following Django support policy, and support Python 2.7 + Django 1.11 during LTS period.

I can do a PR with an altered tox setup. Easiest solution for Python 2.7 would be to document that futures needs to be added to requirements.txt manually?

[2018-01-20 11:33] dyve opened #173 "Document supported Python-Django combinations"
Document which versions are supported in this package. From the ChangeLog (#171) I conclude

Python 3.6 / Django 1.11
Python 3.6 / Django 2.0

[2018-01-20 17:27] dyve commented on #172
Upon cloning the repo I discovered the ChangeLog (somehow not visible on GitHub for me, will investigate). Dropping Python 2 is clearly documented, so this issue can be closed.

[2018-01-20 17:27] #172 closed, assigned to nobody

[2018-01-20 17:35] dyve commented on #170
The url http://kristianoellegaard.github.com/django-health-check/ redirects to blog.kristian.io, which gives a 404.

[2018-01-21 06:57] dyve commented on #171
After being stunned to find a ChangeLog locally (after cloning this repo to make some fixes), I discovered that `pbr` builds the ChangeLog. Excellent feature, bit without documentation anywhere (#170), there is now no visible ChangeLog for users of this package to inspect anywhere.

Solution: build ChangeLog and make it available in the repo and the documentation (again see #170).

[2018-01-21 07:00] dyve opened #174 "Sphinx Documentation"
Would a PR starting Sphinx generated documentation be welcome? This would solve #170, #171 partially and #173.

[2018-01-22 07:34] AdrienLemaire opened #175 "GCP & 3.3.0 error"
I'm quite confused regarding this bug, so it's difficult to report it.

When using django-health-check v3.0.0, I have no problem querying my docker container, whether locally (docker-compose) or on GCP kubernetes.

When upgrading django-health-check v3.3.0, I can still query /healthz locally (docker-compose & runserver), but my GCP environment breaks, returning 502 Bad gateway errors (kubectl & gu

[2018-01-22 07:43] AdrienLemaire commented on #175
Upgrading python on GCP containers to 3.6.2 fixed the issue. If you do not wish to support Python 3.4.X, please specify it in the README

[2018-01-22 13:26] amureki commented on #99
This was fixed in https://github.com/KristianOellegaard/django-health-check/pull/102, right?
Probably, can be closed.

[2018-01-22 13:39] #99 closed, assigned to codingjoe

[2018-01-22 15:31] codingjoe commented on #175
Hi @Fandekasp yes, we only supported the latest Python release in the latest version. If you want to use an older version python version please also use and over version of this package.

[2018-01-22 15:31] #175 closed, assigned to codingjoe

[2018-01-22 15:32] codingjoe commented on #174
@dyve certainly! Looking forward to see your PR. apidocs should go a long way here.

[2018-01-22 15:43] codingjoe commented on #171
Please checkout the GitHub releases page https://github.com/KristianOellegaard/django-health-check/releases

[2018-01-22 15:43] #171 closed, assigned to nobody

[2018-01-22 15:44] codingjoe commented on #171
I don't mind having a link to that in the documentation, but I don't want a changelog inside the repo. This makes no sense since pbr will create it automatically as you mentioned.

[2018-01-22 15:47] codingjoe commented on #173
All changes in terms of version support are announced in the releases. I don't want to overcomplicate it. When in doubt, it's simple to look into the travis file. You figured it out yourself, didn't you ;)

I don't mind adding alls this into a proper documentation, but bare in mind, that this is maintained by just a few people. I want to keep the release process as easy as possible.

[2018-01-22 15:49] codingjoe commented on #170
I agree, this package deserves a proper documentation. It has outgrown the readme file.

[2018-01-23 07:43] dyve commented on #173
See #176

[2018-01-23 07:43] dyve commented on #174
See #176

[2018-01-23 07:43] dyve commented on #170
See #176

[2018-01-23 19:32] #170 closed, assigned to dyve

[2018-01-23 19:32] #173 closed, assigned to dyve

[2018-01-23 19:32] #174 closed, assigned to dyve

[2018-01-24 06:00] dyve commented on #101
Description of the project should point to https://readthedocs.org/projects/django-health-check/ kinstead of the GitHub pages.

[2018-01-24 09:23] codingjoe commented on #101
Good point, @KristianOellegaard could update the link in the GitHub repo description?

[2018-01-24 12:24] KristianOellegaard commented on #101
Done :)

[2018-01-24 17:13] #101 closed, assigned to nobody

[2018-01-24 20:34] courcelm opened #178 "health_check.db in 3.3.0: FATAL: connection limit exceeded for non-superusers"
The latest release (3.3.0) is having an issue for the health_check.db in 3.3.0. The database connections (Postgres in my case) are piling up every time the check is run. The issue is not found in 2.2.1 to 3.2.0.

I guess it is related to this new feature: "Use futures and parallel execution to improve performance"

[2018-01-25 08:05] codingjoe commented on #178
@courcelm just in case. What database driver do you use? `psycopg2`?

[2018-01-25 08:07] AdrienLemaire opened #179 "django-health-check 3.3.0 SSL CERTIFICATE_VERIFY_FAILED"
django-health-check v3.3.0 was working fine until I tried to reinstall it today.
[code]

[2018-01-25 08:27] codingjoe commented on #179
As I understand it, PyPi's ssl certificate was not verified. That being said, they didn't change anything. They certificate they are using is from June 2017. I would recommend to check our local certificate store. Maybe you distrusted the root CA.
Anyway this has nothing to do with this package in particular.
Best
-Joe

[2018-01-25 08:27] #179 closed, assigned to nobody

[2018-01-25 13:11] courcelm commented on #178
psycopg2==2.7.3.1
Django==1.11.7

[2018-01-25 19:02] joac opened #180 "Compatibility with python 3.4 broken after version 3.3.0"
On the new code added, that uses ThreadPoolExecutor, the `max_workers` parameter is not set, and was required on Python 3.4

https://docs.python.org/3.4/library/concurrent.futures.html#concurrent.futures.ThreadPoolExecutor

Here is the note about the parameter:
https://docs.python.org/3.6/library/concurrent.futures.html#concurrent.futures.ThreadPoolExecutor

[2018-01-26 08:50] codingjoe commented on #178
@courcelm I am using the except same in some of my production applications. I can not reproduce this behavior. I am trying to find the difference here. Do you use connection pooling or something similar? What WSGI server do you use?

[2018-01-26 10:10] #180 closed, assigned to nobody

[2018-01-26 10:11] codingjoe commented on #180
Released in https://github.com/KristianOellegaard/django-health-check/releases/tag/3.4.1

[2018-01-26 13:32] courcelm commented on #178
@codingjoe   I'm not using any connection pooling. My WSGI server is gunicorn==19.7.1 with default worker_class (sync).

[2018-01-28 17:15] codingjoe commented on #178
Hi @courcelm,

I investigated further and you seem to be right. Django does in deed use a connection per thread. That is usually not a problem, since the connections are ging closed at the end of each request.
That doesn't help much tho, if your Thread doesn't handle a request as in our case.

https://docs.djangoproject.com/en/2.0/ref/databases/#caveats

https://github.com/django/django/blob/cecc0

[2018-01-28 17:33] codingjoe commented on #178
https://github.com/KristianOellegaard/django-health-check/pull/182

[2018-02-01 12:54] #178 closed, assigned to codingjoe

[2018-02-21 18:57] justinmayer opened #184 "Never-cache policy could be DOS attack vector"
PR #104 turns off all caching on the main view via the [`@never_cache` decorator](https://github.com/KristianOellegaard/django-health-check/blob/master/health_check/views.py#L14), but without providing any reasoning, rationale, or justification for doing so. I'm not suggesting that there aren't benefits to that change, but I think it would be nice as a general matter of course if the problem(s) so

[2018-02-26 12:00] codingjoe commented on #184
@justinmayer I understand your concern, but I think this is merely a documentation issue.
See I if you are concerned about DOS attacks, you shouldn't use `/ht/` as the url, but add a secret token to it. This way only people who know the token can access the view.
The cacheing header makes sense, since you don't want a status page to be cached.

I generally don't recommend making a health check pag

[2018-02-27 00:18] justinmayer commented on #184
Basic HTTP auth would ostensibly be safer than a "security by obscurity" token, but either way it would require more configuration that, in our case, would consume more time and effort than limiting to IP address.

Even for one or two seconds? I don't see why a short cache length would be a problem, particularly if the user gets to decide how short it is.

That's not always avoidable, particularly

[2018-02-27 11:06] codingjoe commented on #184
How so? HTTPS is encrypted at on the TCP layer. Token authentication is very common.

Yes, not even for a couple seconds. You asks for the status at a point of time, you get the result.
Again, this is not meant as a public status page. The views display exceptions and could leak code and therefore i.p.

I do not consider this public. Uptime robots are part of your infrastructure are they not?

If

[2018-02-27 11:24] codingjoe commented on #184
I'd really like your thoughts on this: https://github.com/KristianOellegaard/django-health-check/pull/185

[2018-03-15 18:13] codingjoe commented on #184
Since I haven't heard back, I will release the note.

[2018-03-15 18:13] #184 closed, assigned to justinmayer, codingjoe

[2018-04-11 09:05] akellne opened #187 "TypeError: type() argument 1 must be string, not unicode"
On Python 2.7.13 the package does not seem to work:

[code]
using celery 4.1.0 and amqp 2.2.2.

[2018-04-11 10:00] codingjoe commented on #187
Hi @akellne that might be correct, but we no longer support legacy Python versions. You can find the last Version with Python 2 support here: https://github.com/KristianOellegaard/django-health-check#supported-versions

[2018-04-11 10:00] #187 closed, assigned to nobody

[2018-06-26 00:23] ipeternella opened #196 "RabbitMQ"
Hello there, Kristian!

Kristian, thanks for the open-source project. I would like to know if a PR to add a healthcheck for RabbitMQ (for anyone who's using django with pika lib only and without celery) would be of any interest.

Best regards,

Igor GP

[2018-06-27 14:02] codingjoe commented on #196
Hi @IgooorGP that's a great idea!
I can't wait for your pull-request 👍

[2018-07-12 02:42] ipeternella commented on #196
Hello there @codingjoe !

I have just created a pull request with a healthchecker for a RabbitMQ service! Should you have any suggestions, please tell me and I'll implement them as desired.

Thanks!

[2018-10-05 06:11] Quadric opened #199 "StorageHealthCheck - problem with overwriting file_name by some backends"
There is an issue when some storage backend overwrites requested file_name to something else (for ex. avoiding duplicates) - and when it happens there is a problem with this backend implementation. Please look at this method on StorageHealthCheck

[code]

Look at this line:

[code]

storage is allowed to overwrite the requested file_name - which is OK, and later the rest of code for this method is

[2018-10-05 06:46] Quadric commented on #199
OK i've created a pull request https://github.com/KristianOellegaard/django-health-check/pull/200

[2018-10-05 06:46] #199 closed, assigned to nobody

[2018-11-09 20:08] praseodym opened #202 "Django sending Internal Server Error mails for health check endpoint"
After upgrading our Django app (Django 2.0.9 -> 2.1.3, Python 3.6 -> 3.7, django-health-check 3.5.1 -> 3.8.0) we're sometimes getting Internal Server Error mails from Django triggered by the health check endpoint. Unfortunately these mails do not contain a stack trace or any other information that is helpful in determining what's going on, which is why I'm opening this issue.

We're running our ap

[2018-11-11 11:09] codingjoe commented on #202
Hi @praseodym thanks for reaching out. I'd love to help you, but must admit this isn't much to go about. Do you happen to use a service like sentry to monitor server errors or do you have some kind of logs? You must have a service in place, that is calling your health check endpoint. Does that service have any more information? I we can figure this out somehow.
Best
-Joe

[2018-11-11 13:19] praseodym commented on #202
We have logging enabled, but there is nothing in there related to the failing health check -- the error mail is all we have at this time. Do you have suggestions on how we can obtain more logging?

[2018-11-12 08:26] codingjoe commented on #202
@praseodym I always use Sentry. I agree without the whole exception it will be impossible to figure out the issue. Did you manage to somehow reproduce they issue when manually calling the endpoint?

[2018-11-13 10:30] codingjoe commented on #202
Hi @praseodym I did an update on a production app yesterday to Django 2.1 and I can now reproduce the error. Also on sentry I don't see the full stack trace. I will investigate this further and let you know when I have more information.

[2018-11-13 10:39] codingjoe commented on #202
Ok, so I don't know what they changed in 2.1 but the message you are seeing is emitted by the `django.requests` logger, seealso: https://docs.djangoproject.com/en/2.1/topics/logging/#django-request

It will log all 5xx responses, but doesn't have any information about the error.
What you can do is simply silence the logger in your logging config or filter the email.
If you want to get the proper m

[2018-11-13 10:40] #202 closed, assigned to codingjoe

[2018-11-18 16:27] praseodym commented on #202
Cheers! Enabling the `health-check` logging did the trick. Apparently the Internal Server Errors were caused by a failing cache health check:
[code]
I'm not quite sure why this happens (memcached is running alongside Django, so it cannot be a network problem), but at least there's some context.

[2018-11-24 03:36] GabLeRoux commented on #196
@codingjoe this issue should be closed now that #197 is released in [3.7.0](https://github.com/KristianOellegaard/django-health-check/releases/tag/3.7.0) 👍

[2018-11-24 05:16] GabLeRoux opened #203 "CacheBackend 'unavailable: Cache key does not match' on first call"
Hey there, thanks for this great package. I just gave this a try and it's really nice 👍.

I noticed that when django server just started, the first request to the health check url fails `CacheBackend` check with the following error:

[code]

According to the code, it's just making sure it can store something in the cache and then read it right after:

[code]

I did not configure `CACHES` in django

[2018-11-24 08:41] codingjoe commented on #196
Yes, thanks!

[2018-11-24 08:41] #196 closed, assigned to codingjoe

[2018-11-24 08:46] codingjoe commented on #203
Hi @GabLeRoux thanks for reaching out. I don't know if there really is much of a point in having a health check for the locmem cache backend, since it's simply a python object store running in the same process as your Django application. I think a health check only really makes sense if you rely on another service running as your cache backend. Therefore I would recommend to remove the check, if y

[2018-11-24 08:46] #203 closed, assigned to codingjoe

[2018-11-24 16:19] GabLeRoux commented on #203
I noted this mostly for documentation. I’ll have a look, but I’m quite sure I was using the defaults. You’re right for a better setup, I’ll enable this when I’ll use memcached. Thanks :)

I’ll update here when I test against other backends. :+1:

[2018-11-25 13:06] GabLeRoux opened #204 "[minor] CI deploy step fails when running against a tag"
![image](https://user-images.githubusercontent.com/1264761/48979320-442f4580-f087-11e8-94ac-0798bb11fc43.png)

Example: https://travis-ci.org/KristianOellegaard/django-health-check/jobs/443743439

[code]

I was wondering how I could help here. It seems to fail to upload the package because it already exists.

Related travis deploy step:
https://github.com/KristianOellegaard/django-health-check/blo

[2018-11-25 13:09] GabLeRoux commented on #204
Right now, only one job succeeds, and it's not always the `toxenv=docs` one which seems to confirm that the problem is indeed the linked issue.

https://travis-ci.org/KristianOellegaard/django-health-check/builds/437494904
https://travis-ci.org/KristianOellegaard/django-health-check/builds/353968997

All jobs are running the `deploy` step.

Solution should look like this: https://github.com/travis

[2018-11-30 16:09] trankos commented on #165
Same issue.
- No duplicates labels in INSTALLED_APPS setting.
- health_check.contrib.celery  label conflicts with celery label.

Posible solution:

- Add label property in health_check/contrib/celery/apps.py

[code]

Thanks

[2018-12-06 12:25] #204 closed, assigned to nobody

[2018-12-06 12:27] codingjoe commented on #165
BTW, I would not recommend to always create a new app for each custom check you build. This is only done for convenience of this package. If you want to add more custom checks, just register them in your `ready` method of your main application.

[2019-01-11 19:40] jbnance opened #210 "Celery and RabbitMQ checks enabled concurrently results in errors"
Using:

- Python 3.6 and 3.7
- Django 2.1.4
- django-health-check 3.8.0
- celery 4.2.1
- RabbitMQ 3.3.5 and 3.6.16 (clustered)

With a fresh instance of RabbitMQ having both health checks enabled at the same time:

- health_check.contrib.celery
- health_check.contrib.rabbitmq

...results in celery workers erroring out with the following:

[code]

[2019-01-12 13:22] codingjoe commented on #210
I this error seems to be related to `django_celery_results` not health check. Why are you using it and not AMQP as a result backend for celery since you clearly have it installed?

[2019-01-12 13:22] #210 closed, assigned to codingjoe

[2019-01-14 14:34] jbnance commented on #210
Oh, boy, I'm sorry for the noise.  The answer is, because I'm new at Celery and don't know what I'm doing.  :-(

I'll look into getting the results backend swapped over.

[2019-01-14 15:10] jbnance commented on #210
Just to close the loop on my confusion - the reason I have/had `django_celery_results` deployed was for `celery_progress`.  I'm not sure if that's the right path and not asking for you to support other projects in your issue tracker - just trying to save face.  :-D

[2019-02-02 10:41] codingjoe commented on #210
Sorry for the late response. Yes I think if you need help with celery, you should visit their GH page. I think they also have a IRC channel.

[2019-04-16 23:58] hugoseabra opened #217 "Support for Django CLI"
It would be very nice if the checks could be supported by command lines, because not every service is served by HTTPs protocol.

What do you guys think about it?

[2019-04-18 09:14] dyve opened #218 "Breaking change introduced in 3.9.0"
[code]

working in django-health-check==3.8.0

failing in django-health-check==3.9.0

Error message:
django.urls.exceptions.NoReverseMatch: Reverse for 'health_check_home' not found. 'health_check_home' is not a valid view function or pattern name.

[2019-04-23 10:55] codingjoe commented on #218
Hi @dyve

good point, I believe it was this commit https://github.com/KristianOellegaard/django-health-check/commit/a07434ef18fdc1a9fa9d8fdc367bd57aaa5b8b35 adding a app_label to the URL config.

I don't want to release this. There will be a new major release coming anyways dropping Django 1.11 support. However, I did add a comment to the release notes, making people aware of this issue.

Thanks f

[2019-04-23 10:55] #218 closed, assigned to codingjoe

[2019-04-23 10:56] codingjoe commented on #217
Hi @hugoseabra,

I think that's a great idea! Would you mind drafting a PR that implements such a feature?

Best
-Joe

[2019-04-29 13:38] ashokdelphia opened #220 "Accept header parsing rejects valid headers"
I'm using Chrome Version 73.0.3683.86, and the accept header it makes for regular web pages is:

[code]

With the new Accept header parsing in v3.10.0, the last entry is rejected with:

[code]

Apologies for not catching that in review for PR #216.

I think to properly follow the [production in RFC 7231](https://tools.ietf.org/html/rfc7231#section-5.3.2), we should allow other parameters and only

[2019-05-07 08:22] nwolff commented on #220
Just to clarify, installing django-health-check 3.10.0 and requesting the healthcheck page returns a 500:

![2019-05-07-102102_758x251_scrot](https://user-images.githubusercontent.com/40599/57284662-eda44980-70b1-11e9-9095-7e27551e0461.png)

[2019-05-07 13:11] ashokdelphia commented on #220
Yes. #221 should fix that.

[2019-05-15 13:29] ashokdelphia commented on #220
This is fixed in v3.10.1

[2019-05-15 13:29] #220 closed, assigned to ashokdelphia

[2019-05-20 09:48] zkanda opened #223 "`yield from` is not compatible with python 2."
Hi, it looks like `yeild from` just got into the [source code](https://github.com/KristianOellegaard/django-health-check/blob/c09c26566b19d8ac778bb7e04e2e3800941bedff/health_check/views.py#L65) recently, this is not compatible with python 2 though, we can either bump the requirements to only support python 3 or fix the incompatibilities.

[code]

[2019-05-20 10:01] codingjoe commented on #223
@zkanda we don't support Python 2, since Python 2 has been discontinued for almost a decade now and will finally die end of year.

If we can make it more obvious to users, that this package not support legacy Python versions, feel free to open up a PR.

[2019-05-20 10:01] #223 closed, assigned to codingjoe

[2019-05-20 10:11] zkanda commented on #223
That's right, I should have read the README fully. Thanks for answering clearly.

[2019-06-13 14:56] GitRon commented on #202
@codingjoe Would you mind explaining a little bit more what you mean with `health-check logger`? Sorry to say but I didn't get your point :/

[2019-06-15 13:42] codingjoe commented on #202
Hi @GitRon sure, it'd be my pleasure.

By the `health-check`-logger, I mean the name of the logger. In Django you can configure the handlers for each logger or other behavior via the `LOGGING` setting.

In this particular case you want to add:
[code]

See also Django's documentation on logging for more information:
https://docs.djangoproject.com/en/stable/topics/logging/

[2019-06-18 07:37] GitRon commented on #202
@codingjoe Oh, thats what you mean! Alright, now I get it!

The question is: Even though my healthchecks work perfectly fine I get tons of those errors:

[2019-06-18 08:29:11,008] backends: ERROR - unavailable: Cache key does not match
Traceback (most recent call last):
File "/usr/local/lib/python3.6/site-packages/health_check/backends.py", line 30, in run_check
self.check_status()
File "/usr/loca

[2019-06-18 09:28] codingjoe commented on #202
Hi @GitRon interesting. You get those error logs, but the status endpoint responds with a 200 response? Did you mark the cache check as a `critical_service`?

[2019-06-18 09:40] GitRon commented on #202
Hi @codingjoe

nope, just included the three healthchecks in my installed apps. Thats it.

Thx
Ron

[2019-06-18 15:17] codingjoe commented on #202
Ok, I double-checked, and it seems your endpoint does respond with a 500 response as it should:

How do you check the response type? Do you use some kind of up time bot, if so which one?

[2019-06-19 06:47] GitRon commented on #202
Acutally I just see this in my container all the time. Maybe there is some internal function of k8s testing the container and in this case memcached or so is not working. But I dont get more info except that I see the error all the time.

[2019-06-24 10:12] codingjoe commented on #202
@GitRon if you see the error, there must be something wrong with your cache setup.

[2019-06-24 12:34] GitRon commented on #202
@codingjoe Thanks for the info. Maybe I need to ask around our DevOps guys...

[2019-07-25 19:11] hugoseabra commented on #217
I got it! Try to work on that as soon as possible.

[2019-08-01 23:27] drewburnett opened #226 "TemplateDoesNotExist"
When attempting to access the /ht endpoint with my Django app (running in a Kubernetes pod), I am met with the following error. What am I missing?

TemplateDoesNotExist at /ht/
health_check/index.html

[2019-08-01 23:51] #226 closed, assigned to nobody

[2019-08-05 16:43] codingjoe commented on #226
Hi @satyamevajayate since you already closed the issue, I presume you already found the problem yourself? If you need anything, don't hesitate to ask. I am happy to help. Best Joe

[2019-09-24 10:18] Basit-qc opened #231 "AttributeError: __enter__ with redis 2.10.5"
Started happening with redis 2.10.5. Was working fine with redis 3.3.5.

Response:
[code]
Logs:
[code]

[2019-09-25 00:49] codingjoe commented on #231
Hi @Basit-qc
Thanks for reaching out. As I understand your comment, you actually downgraded the redis package, right? Might I ask why you did that?

So we don't test against older version of Redis and don't have "official" support for it. That being said, I would really like to understand why you downgraded. There might be a very good reason, and we should add backwards compatibility for older red

[2019-09-25 00:49] #231 closed, assigned to codingjoe

[2019-09-26 04:19] Basit-qc commented on #231
Thanks @codingjoe for looking into the reported issue.
I was getting error on registering celery task with upgraded redis
[code]
Searched for solutions and it was suggested to downgrade redis version.
e.g.
https://github.com/andymccurdy/redis-py/issues/1068
http://www.programmersought.com/article/2653334850/
https://github.com/celery/celery/issues/5175
That's why I had to downgrade and now my cele

[2019-09-26 17:33] codingjoe commented on #231
@Basit-qc I have stumbled on the issue myself, but is fixed been fixed in kombu>=4.2.2. So instead of downgrading Redis driver, I would recommend upgrading kombu. Please understand that the Redis health check is a new feature. I am sure you understand, that we can't provide support for old versions of all dependencies one might use.

[2019-09-27 10:33] Basit-qc commented on #231
Got it. :+1:
Thank you @codingjoe for suggesting the solution.
I will try updating kombu, it is currently 4.2.1.

[2019-09-27 17:39] codingjoe commented on #231
Let me know how it goes. And sorry for my language, I just read my comment again and it looks like had a stroke mid sentence. Glad that you could make sense out of it 😅

[2019-10-02 10:43] Basit-qc commented on #231
It worked :+1: . Upgraded kombu to `4.5.0` and now RedisHealthCheck is back up with working Celery. Thank you @codingjoe for all the help :)

[2019-10-29 07:51] scarabeusiv opened #232 "License mismatch"
The repository contains the MIT license while the setup.cfg says it is BSD like, could you please match it up to both say the same?

[2019-10-29 07:57] #232 closed, assigned to codingjoe

[2019-10-29 08:00] codingjoe commented on #232
Good catch @scarabeusiv, the correct license is MIT, not BSD. I updated all mentions of BSD and issued a new release. Version [3.11.1](https://github.com/KristianOellegaard/django-health-check/releases/tag/3.11.1) does have the correct license metadata.
Thanks for the contribution, much appreciated!

[2020-01-08 20:13] lizzielizzielizzie opened #233 "Catching exception hides true cause"
Hi,

There is a [`try` block](https://github.com/KristianOellegaard/django-health-check/blob/master/health_check/storage/backends.py#L69) that seems to mask the true cause of an exception in the backend, which makes it hard to diagnose why the health check fails. I believe that by allowing the normal error to bubble up or by including the original exception in the `ServiceUnavailable` exception, i

[2020-01-14 09:56] codingjoe commented on #233
Hi @NickWer,

you are right, it does shadow the original exception. I created a pull request (#235) that should resolve the issue.
Please let me know if the pull request works for you and I will make sure to release the change right away.

Best
-Joe

[2020-01-14 15:47] #233 closed, assigned to codingjoe

[2020-01-14 17:06] falc410 opened #236 "Celery throws exceptions using health_check.contrib.celery"
When I start celery it will find the additional task:

[tasks]
  . health_check.contrib.celery.tasks.add
  . ... my own tasks

When I access the status page this happens:

[2020-01-14 18:01:45,957: WARNING/ForkPoolWorker-8] /Users/no68tuh2/virtualenvs/ihearu3/lib/python3.6/site-packages/celery/app/trace.py:570: RuntimeWarning: Exception raised outside body: DoesNotExist('CeleryTask matching query

[2020-01-14 17:26] #236 closed, assigned to nobody

[2020-01-14 22:42] victorfrancax1 commented on #226
I have stumbled on the same error as @satyamevajayate , was not able to fix it yet. Any thoughts @codingjoe? Thanks :)

[2020-01-21 06:02] peterflat commented on #135
Just a note that (I think) I experienced this issue as well.  I enabled the health_check.contrib.celery app and none of my tasks would execute.  They would just hang.  It appears that the health check is blocking tasks from being registered by the celery worker.  I am using version 3.10.2.  I can try to relay more information if necessary.  I have disabled it for now.  All other facets of your plu

[2020-01-23 14:27] henryfentanes commented on #135
If you guys are running this inside a docker container, I've experienced this as well, and fixed it by reloading the celery app within Health Check

like so:
[code]

Apparently there is an issue when you run celery inside a thread on docker that it fails to get the config correctly...

[2020-01-23 17:17] peterflat commented on #135
I will test this! Thank you!

[2020-01-27 16:43] JBKahn opened #238 "Better RabbitMQ check"
RabbitMQ has an [aliveness check](https://pulse.mozilla.org/api/) that is a lot more reliable than the existing connection check used in this library. I use it a custom check on a similar health checker called [django-watchman](https://github.com/mwarkentin/django-watchman). It has caught several incidences that the connection check (what we originally used) did not.

That API check "Declares a te

[2020-02-03 09:15] codingjoe commented on #238
Hi @JBKahn, thanks for the suggestion. Don't mind improving the check, but I am not using RabbitMQ myself right now, so I'd appreciated a pull request and would be delighted to review it. Best Joe

[2020-02-03 09:17] codingjoe commented on #135
@peterflat any update? Did it work?

[2020-02-03 13:39] JBKahn commented on #238
I'm not using RabbitMQ either right now, swapped to SQS and I've not even installed this library before. I figured I'd just offer up a suggestion, I'll circle back when I have some extra time but if anyone uses this and wants to work on it before I get there. Feel Free.

[2020-02-13 15:40] codingjoe commented on #238
I see. I'll close it for now then and will repoen it, if there is more public demand.

[2020-02-13 15:40] #238 closed, assigned to nobody

[2020-02-16 08:48] adamchainz commented on #217
This can now be closed.

[2020-02-16 13:53] #217 closed, assigned to hugoseabra

[2020-02-26 10:27] jesusgarmanz opened #239 "Context manager doesn't work with Redis < 3.3.0"
If `health_check.contrib.redis` is installed in a project that use a Redis version less than 3.3.0, the following exception is thrown:
[code]

If the version of Redis is greater or equal sthan 3.3.0, the execution of the check_status function is ok. I think that is needed to specify that the Redis version has to be greater or equals than 3.3.0: in the README or/and in the dependencies of the packa

[2020-02-26 11:50] jesusgarmanz opened #240 "CacheBackend doesn't catch redis ConnectionError exception"
When Redis service is down and a request to get the status of the services are done, the request returns an exception:

[code]

CacheBackend has an except to capture ConnectionError, but when I debugged the execution, the execution pass through without being catch. Then a BaseException is captured on `BaseHealthCheckBackend` and raised causing the non-desired exception data returned by the request

[2020-02-26 14:01] codingjoe commented on #239
Hi @jesusgarmanz,

There is a very simple solution: Update Redis 😉
But seriously, we can't support all version of every dependency. Please also read #231

Best
-Joe

[2020-02-26 14:01] #239 closed, assigned to nobody

[2020-02-26 14:09] codingjoe commented on #240
That is expected. Since we don't know which backend you might use. Sadly redis uses their own `ConnectionError` not the Python 3 one, which we are catching.

[2020-02-26 14:09] #240 closed, assigned to nobody

[2020-02-26 15:07] jesusgarmanz commented on #240
If it's expected, why return the exception?

I will try to explain my point of view. CacheBackend can try to check if the backend is alive. Whatever the cache is used by the user, this cache can throw an exception that is not the Python 3 one (e.g. Redis). If a `except BaseException` is set, that would catch every exception from whatever cache is being used (e.g. RabbitBackend).

This would avoid

[2020-02-26 15:09] jesusgarmanz commented on #239
I understand and I'm agree with you about the support. But it would be great for the people using this package for the first time to know that they have to use Redis >=3.3.0, even with a line of text in README will be enough.

Thanks for the reply.

[2020-02-28 09:32] codingjoe commented on #239
@jesusgarmanz that is true, but tricky. We since redis is an optional dependency and if I am not mistaken, the checks also works with another redis library, so we can't even add it as an extra. Plus, don't think people will use the extra function and will actually see the dependency conflict.

[2020-02-28 09:39] codingjoe commented on #240
Hm... I see you point, but catching all errors will also catch problematical or syntax errors, which is probably not a good idea. It's tough to solve, but I am open to suggestions.

[2020-02-28 12:10] jesusgarmanz commented on #240
I don't see the issue with caching problematical or syntax error (but AFAIK it shouldn't happen). I say this because, if the error is catched and CacheBackend returns whatever error message without raising the exception, the health_check service won't be returning the exception response. The response will be the expected one with CacheBackend status as "Unknown error".

But, if you don't like this

[2020-02-28 12:18] jesusgarmanz commented on #239
That's true, there are other Redis libraries, it's not a valid solution to set that on the package dependencies. But, even with that, I think that an annotation can be set on the README explaining that issue with this specific Redis library, just to avoid more issues about this topic.

[2020-02-28 15:11] codingjoe commented on #239
Good idea, feel free to open a PR with some documentation adjustments. Good documentation is very important.

[2020-02-28 16:00] codingjoe commented on #240
The change you propose will mean we have to import redis. What if you use memcached and don't have redis installed? The cache backend is pretty generic. This would be something to consider for the redis backend.

[2020-03-10 14:14] SorianoMarmol opened #241 "allow set critical_service=False (BaseHealthCheckBackend) - Enhancement"
it would be interesting to be able to define critical_service = False (BaseHealthCheckBackend) based on a setting, for example

[2020-03-10 16:53] ashexpertVersion2 opened #242 "Non-default database connection are not being closed"
I have defined 3 PostgreSQL database including 'default' but after each request a new idle connection appears on pg_stat_activity.
My router works this way: it routes all read query to 'read_replica' and all write query to 'write_replica' and no query routes to 'default'
I think the problematic part is here:

https://github.com/KristianOellegaard/django-health-check/blob/728b90251211ec34b0aa031e99

[2020-03-11 09:18] codingjoe commented on #242
Hi @ashexpertVersion2,

thanks for reaching out. Yes, what you are describing is true. However, this only happens if you have [CONN_MAX_AGE](https://docs.djangoproject.com/en/3.0/ref/settings/#std:setting-CONN_MAX_AGE) set to something other than it's default value of `0`.

Anyhow, you are welcome to provide a patch that iterates of all connections and closes them.
However, I am curious why you wo

[2020-03-11 10:20] ashexpertVersion2 commented on #242
i haven't set CONN_MAX_AGE to something other than default(which is 0). but anyway i am dealing with connection leak.
closest thing i have found is this:
[django-orm-connection-leak-with-threadpoolexcuter](https://stackoverflow.com/questions/57211476/django-orm-leaks-connections-when-using-threadpoolexecutor)

[2020-03-14 10:56] codingjoe commented on #242
Ok, I see. Would you still care to submit a patch?

[2020-03-14 11:01] codingjoe commented on #241
@SorianoMarmol thanks for reaching out.
I see the appeal in your request. It would be nice, it this was merely a configuration. Sadly it isn't that simple. You see, not all backends marked as critical by default. One setting that fits all, would probably also not help too many people, since most would want only one or two non-critical checks.
A setting for each check, seems like an overkill. It wo

[2020-03-14 11:01] #241 closed, assigned to codingjoe

[2020-03-16 14:01] ashexpertVersion2 commented on #242
for sure.

[2020-03-17 12:12] #242 closed, assigned to ashexpertVersion2

[2020-03-27 03:43] euven commented on #135
Hi there, has there been any progress here? I'm hitting this issue too...

Thanks for this module btw :)

[2020-03-31 01:06] euven commented on #135
For anyone coming here, encountering this issue in a cloud environment - I've added #209 as a custom health check to my application and disabled this contrib one. Things seems to work as expected now ;)

@codingjoe might be worth getting #209 merged as some point?

[2020-04-02 09:15] codingjoe commented on #135
@bynare yes, that is a good point. Would since you have a working copy, maybe you want to take over from @witold-gren and finish the patch?

[2020-04-13 08:10] cbernet commented on #202
@GitRon sorry for coming back to this, but could you please tell me if you guys found a solution for the `Cache key does not match` issue? on my dev server, everything is fine, but I'm getting this on AWS and I don't manage to solve it... Cheers!

[2020-04-17 07:06] GitRon commented on #202
@cbernet Sorry to tell you but I think we ditched the healthcheck package for this case.

[2020-04-18 09:09] codingjoe commented on #202
@carderm that probably means, that your cache isn't setup correctly. What cache backend do you use and would you mind sharing your production cache config (please do not post any secret keys)?

[2020-04-27 09:09] ehmkah opened #246 "Question - implement healt and alive?"
Could you please have a look at https://stackoverflow.com/questions/61455314/how-to-implement-alive-and-readyness-with-django-health-check Or Do you prefer to ask the quesion here?

[2020-04-27 14:54] atyshka opened #247 "TemplateDoesNotExist: health_check/index.html"
Getting this error when I try  to navigate to my health check page.
Django 2.2.5
Setup steps I used:
Added
[code]
to settings.py

And added
`url(r'^health/?', include('health_check.urls')),` to urls.py

[2020-04-27 15:58] atyshka commented on #247
Apologies, I had 2 sets of settings and forgot to add this to both

[2020-04-27 15:58] #247 closed, assigned to nobody

[2020-04-29 09:45] codingjoe commented on #246
I'd prefer you to repeat the question here, to make sure it's documented for people running into a similar situation. Maybe you can edit your ticket description and simply copy the question.

Anyhow, about the topic: You are trying to add a second HTTP endpoint, correct? So usually the app config adds the checks to a register. We use a plugin pattern here.
You could simply define a list of the che

[2020-04-29 09:45] #246 closed, assigned to codingjoe

[2020-05-11 18:16] antnieszka opened #248 "Version 3.12.2 can't be installed from pypi"
Hey,

I noticed today that you are probably missing pypi release 3.12.2 which is listed in GitHub releases.

[code]

[2020-05-13 07:11] maszaa opened #249 "Exception while resolving variable 'exception_type' in template 'unknown'."
After
[code]

I get `Internal Server Error: Exception while resolving variable 'exception_type' in template 'unknown'.`

Maybe this could be fixed by catching the TimeOut raised at https://github.com/KristianOellegaard/django-health-check/blob/master/health_check/contrib/celery/backends.py#L21 and performing the same actions as for other exceptions?

I'm using `format=json` and version 3.12.1 of t

[2020-05-15 13:14] codingjoe commented on #248
This seems to be due to a change with Travis-Ci. I would suggest to change to a GitHub action for releases.

[2020-05-15 14:25] codingjoe commented on #249
Hey @maszaa is this related to your comment https://github.com/KristianOellegaard/django-health-check/pull/209#issuecomment-628487149?

[2020-05-23 13:10] codingjoe commented on #248
See #250

[2020-05-23 13:25] #248 closed, assigned to codingjoe

[2020-05-25 10:57] antnieszka commented on #248
Great, thanks a lot!

[2020-06-04 22:32] a7i commented on #226
Make sure you have it in your installed apps.

[code]

[2020-06-09 16:31] codingjoe commented on #226
@victorfrancax1 if you are still experiencing the issue, please post you `INSTALLED_APPS` and `TEMPLATES` settings.

[2020-06-25 16:43] Ouradze opened #254 "Pypi not up to date"
Hi,

Could you please release the latest version on pypi ? It seems, the last one is 3.12.1.

Thanks in advance

[2020-06-25 18:01] codingjoe commented on #254
Yes, that seems to be the case. @KristianOellegaard can you [create a new PyPi token](https://pypi.org/manage/account/token/) for the repo and set it as `TWINE_PASSWORD`. Make sure there are no trailing white spaces. Something must have gone wrong the last time.

[2020-07-27 18:39] jessemorton opened #256 "Django sending Internal Server Error mails for storage checks"
Hi, I have an issue similar to #202 but having to do with storage checks. Our app uses S3Boto3Storage and generally our health checks are successful, but a couple times a day since upgrading to Django 2.2 I've been getting error emails. We didn't get these when on Django 2.0.

It seems to have to do with `DefaultFileStorageHealthCheck` rather than `S3Boto3StorageHealthCheck`. Do you recommend just

[2020-07-28 07:07] codingjoe commented on #256
Hi @jessemorton this is to be expected. If there is an error, you should get an email, if you set it up that way. I would personally recommend to use sentry, as it will save you from a flood of emails. To be clear, we don't send the emails, nor do anything to trigger them. We simply return a 500-error, which causes Django to trigger the admin email. The response type is correct and needed by statu

[2020-07-28 07:07] #256 closed, assigned to codingjoe

[2020-07-28 13:57] jessemorton commented on #256
Thanks @codingjoe for the pointer towards Sentry, I'll take a look.

Regarding the emails, I wasn't finding that itself odd, since as you say it's just the way that our logging is set up - what I was surprised about was why we'd start getting these errors with Django 2.2 when we didn't previously on 2.0 (in both cases having otherwise the same stack and the same logging). Where you didn't mention

[2020-07-31 13:33] codingjoe commented on #256
Hi @jessemorton,

No, we don't trigger any mails ourselves. Though I should mention, we do not officially support either Django 2.0 nor does the Djangoproject ;) Good thing you are upgrading.

Best,
Joe

[2020-07-31 13:43] jessemorton commented on #256
Thanks @codingjoe, I fully understand you're not triggering emails within `django-health-check`, but rather an exception is occurring and my logging is configured to send me emails whenever such an exception occurs. :) My question was more *why those errors would occasionally occur to begin with*, in `django-health-check` when used with Django 2.2, when those errors didn't occur when used with Dja

[2020-08-03 09:34] codingjoe commented on #256
@jessemorton that I don't know. Looking at the stack, it seems deleting files is the problem. It would be helpful if you could share your storage settings, if you want me to help you debug the problem. Best, Joe

[2020-08-12 15:18] AndHam89 opened #261 "Statement in README.rst true about support only for Python 2 to 2.4.0?"
In README.rst it states that

is only supported. Is this simply an oversight of an not up to date information or is this true?

[2020-08-13 07:46] codingjoe commented on #261
Thanks @AndHam89 this seems to be an oversight. Good catch, thanks!

[2020-08-13 08:16] #261 closed, assigned to codingjoe

[2020-08-14 11:14] AndHam89 commented on #261
Sorry to come back, but I may also want to update the page https://pypi.org/project/django-health-check/.

[2020-08-15 12:10] codingjoe commented on #261
@AndHam89 it will automatically update with the next release.

[2020-08-26 18:26] larsrinn opened #265 "Deprecation warning for Django 4.0"
This project is using the old style to define urls, which is marked for deprecation for Django 4.0:

[code]

I think it's as easy as changing [this line](https://github.com/KristianOellegaard/django-health-check/blob/73e89fc3325a242eea6765e83b6bf568f72b8573/health_check/urls.py#L8) to

[code]

(along with the import of course)

#### Some context

Django 3.1 release notes: https://docs.djangoprojec

[2020-08-27 10:02] affan10 commented on #256
@jessemorton Were you able to sort it out?

[2020-08-28 05:45] affan10 commented on #256
@codingjoe We're having similar problems with us either receiving OSError: [Errno 14] Bad address or File Not Deleted during health checks for storage backends. Our storage backend is AWS S3. Below is the complete stack trace. Could you shed some light into the possible reasons/fixes for this? We're currently using django-health-checks v 3.12.1 and use Sentry to track our issues.

[code]

[2020-08-28 13:39] jessemorton commented on #256
@affan10 I haven't had the chance to prioritize it, so have simply been ignoring them in recent weeks.

[2020-08-29 16:15] codingjoe commented on #256
Hi @affan10,

Thanks for reaching out. Honestly, this looks like an issue with the S3 setup or the Python client configuration. I'd recommend reaching out to the boto project or to django-storages. We simply use the high-level storage API defined by Django regardless of its underlying implementation.

Still, should you find a solution, feel free to share it here.

Best,
Joe

[2020-08-29 16:17] codingjoe commented on #265
Hi @larsrinn thanks for the report.  You are correct, this should be updated. We also don't support any version of Django that requires usage of the old `path` implementation.

Would you care to provide a patch yourself? It'd be certainly appreciated.

Best
-Joe

[2020-09-02 18:12] tobias-fyi commented on #265
Hi! In case this hasn't been addressed yet, I'd be happy to submit a patch.

[2020-09-03 06:53] larsrinn commented on #265
I didn't find the time to do so, yet. Maybe on the upcoming weekend. But @tobias-fyi  feel free to go ahead, if you like.

[2020-09-05 16:06] codingjoe commented on #265
@tobias-fyi please go ahead then 👍

[2020-09-12 12:07] jayvdb commented on #254
ping @KristianOellegaard

[2020-09-12 12:12] jayvdb commented on #254
Note poetry isnt able to install from tags here

[code]

[2020-09-16 07:10] codingjoe commented on #254
FYI, I released the latest version manually.

[2020-09-17 10:06] jayvdb opened #268 "Packaging for 3.14.0 doesnt include sub-packages"
The PyPI packages only include package 'health_check', excluding sub-packages `health_check.contrib', etc

[2020-09-17 10:45] jayvdb commented on #268
Also it looks like the template isnt being installed.

[2020-09-17 18:26] skarzi commented on #268
I have updated `django_health_check` to `3.14.0` in several projects and it works.

How do you importing `contrib` and other sub-packages?
And what do you mean by `template isn't being installed`?

[2020-09-18 02:27] jayvdb commented on #268
The contents of the 3.14.0 wheel looks ok.

Installing from the sdist using `setup.py` does not work correctly using latest setuptools.

c.f. https://build.opensuse.org/request/show/835160 openSUSE workaround to get it working on rolling release which uses latest versions of all build related packages.  I haven't investigated if it works on some older versions of setuptools - there is a narrow win

[2020-09-19 10:06] codingjoe commented on #268
Hi @jayvdb,

I checked, both the source and binary release include all packages and templates.
Maybe you could elaborate a bit more on your setup and I could try to help you find a solution. However, it seems your problem is highly specific to your setup and not to the package itself.

Best,
Joe

[2020-09-19 10:09] codingjoe commented on #268
Please forgive that I removed your comment form the other issue. It was unrelated and could be misleading to others.

[2020-09-19 12:01] jayvdb commented on #268
It has nothing to do with me.  This is a openSUSE distribution package, and the problem exists for any other distro and any other user of the sdist.  The problem is not that the files are not in the sdist.  They are in there.  The problem is the setup.py doesnt install them.  Anyway, as you are deleting feedback, and we have a workaround, I will disengage.  Hopefully someone else can explain it be

[2020-09-21 07:39] maszaa commented on #249
It's not.

[2020-09-21 07:42] maszaa opened #269 "Celery health check - AttributeError: 'add' object has no attribute 'forget'"
Problematic line: https://github.com/KristianOellegaard/django-health-check/blob/master/health_check/contrib/celery/backends.py#L24
Should it be `result.forget()`?

django-health-check version 3.14.0
Celery version 3.1.25
No result backend in use

[2020-09-21 07:47] maszaa opened #270 "Versions 3.13.3, 3.12.3 and 3.12.2 not available from PyPI"
3.14.0 is broken, I would like to use 3.13.3 which doesn't seem to include [the broken Celery healtch check](https://github.com/KristianOellegaard/django-health-check/issues/269).

[2020-09-21 08:34] skarzi commented on #269
Exactly, `forget()` is `AsyncResult` method - https://github.com/celery/celery/blob/ddb5db72762e00a091a7c4eaef4c07470515f1e1/celery/result.py#L134

Why it is necessary to call `forget()`?
According to [docs about result backends](https://docs.celeryproject.org/en/stable/userguide/tasks.html#result-backends):

So it seems like `forget()` is not necessary when `get()` is used.

[2020-09-21 08:53] maszaa commented on #269
So reverting https://github.com/KristianOellegaard/django-health-check/commit/4d4148ea831d425327a3047ebb9be8c3129eaff6 should fix the problem.

[2020-09-21 14:19] #269 closed, assigned to codingjoe

[2020-09-21 14:21] codingjoe commented on #270
I manually added the missing releases.

[2020-09-21 14:21] #270 closed, assigned to nobody

[2020-09-21 14:24] codingjoe commented on #269
I reverted the commit, the change has been released (on PyPi too) in version [3.14.1](https://github.com/KristianOellegaard/django-health-check/releases/tag/3.14.1).

[2020-09-21 14:28] codingjoe commented on #249
Hi @maszaa, could you maybe elaborate a bit on what the problem is you are facing? So far, it looks to be like the package is working as expected and is informing you about a celery timeout.

[2020-09-21 14:51] codingjoe commented on #268
Hi @jayvdb,

To be honest, I was not aware there was an OpenSUSE distro of this package. In any case, after reviewing the `spec`-file, it seems the issue that the spec is using the wrong source. It uses the GitHub tar-balls which are not official releases.

You could use the official PyPi sdist builds, those will work, see also:
[code]

A little person side note:
I am truly sorry, if the removal o

[2020-09-21 15:36] maszaa commented on #249
The problem is that when the load balancer I'm using does a health check request with `?format=json` and Celery check fails

`Internal Server Error: Exception while resolving variable 'exception_type' in template 'unknown'.`

is raised instead of/during responding with json formatted payload.

[2020-09-21 19:10] jayvdb commented on #268
@codingjoe , distro packages build from source and run tests in an offline build environment to avoid any chance of pollutants.  This package no longer provides tests in the PyPI sdist, so we must fetch the tarball from GitHub as a fallback to get a properly versioned testsuite.  I mentioned this problem in my (now deleted) comment on the other issue.

In addition, pip has a dotted history with re

[2020-09-22 13:22] codingjoe commented on #268
I see. So, the other issue is about releases missing on PyPi, not files missing in the dists. That being said, we could easily add the tests and docs back into the sdist. Its two lines really, that currently explicitly remove the folders. We could remove those lines, what do you think?
https://github.com/KristianOellegaard/django-health-check/blob/36e37a5409ef7fce9286f5fa9c24a185592df59a/MANIFEST.

[2020-09-22 13:33] codingjoe commented on #249
@maszaa the internal server error is triggered by Django itself, probably because of a configuration issue, not by this package. Anyhow, could you please trigger the call manually and past the output here? Thanks, Joe

[2020-09-22 13:58] jayvdb commented on #268
Re-adding docs and tests to the sdist would certainly help.

The suggested change above seems dubious, but I havent checked it carefully.  That typically causes a package called `tests` to be installed by `setup.py`, but it depends on several other variables in setup.cfg.  The only way to know for certain is to build sdists and install them, and rinse and repeat until the packaging does the right

[2020-09-23 15:37] codingjoe commented on #268
Hi @jayvdb,

Thanks for the hint about `check-manifest`. I didn't know this one.
I did a thorough look at the `Manifest.in` file and explicitly added everything that should be in the sdist build and removed all GitHub/Fussyfox related files. I opened a PR #271 and would love to get your feedback.
Oh, and the `setup.cfg` file defines the package explicitly, so `tests` isn't being installed. I doubl

[2020-09-29 15:21] tobias-fyi commented on #265
Hey all, apologies for disappearing. I saw that this issue was still open, so I went ahead and made the change listed above and submitted a PR. As this is my first time contributing to an open source project, please let me know if there is anything I should change.

Thanks!

[2020-10-05 14:17] codingjoe commented on #265
Merged and released, thanks!

[2020-10-05 14:17] #265 closed, assigned to codingjoe, larsrinn

[2020-10-14 22:56] sobolevn opened #274 "Timeout for cache is too strict, it is always failing for me"
Currently I am facing an issue with new versions of `django-health-check`.

These lines:
[code]

do raise.
Here: https://github.com/KristianOellegaard/django-health-check/blob/master/health_check/cache/backends.py#L21

Build: https://github.com/wemake-services/wemake-django-template/pull/1332/checks?check_run_id=1241149628

## Proposed solutions

### Using `None` as a timeout and the deleting the

[2020-10-16 08:08] codingjoe commented on #274
Hi @sobolevn, I agree. The default timeout might make more sense. Since we use the same cache key, I also don't see any chance the cache could overflow, even with a default timeout of `None` and no cache eviction policy on the cache server.
Could you care to write a patch yourself?
Best, Joe

[2020-10-16 08:48] sobolevn commented on #274
Yes, sure.

[2020-10-16 09:09] #274 closed, assigned to sobolevn

[2020-10-16 09:12] codingjoe commented on #274
Released in [3.14.3](https://pypi.org/project/django-health-check/3.14.3/)

[2020-10-30 22:13] sobolevn commented on #274
It is still failing for me 😢

https://github.com/wemake-services/wemake-django-template/pull/1341

Local testing was successful, but the whole integration does not work. Any ideas what to do?

[2020-11-04 10:25] codingjoe commented on #274
Not really, we could add a setting, so you can define a long timeout. But before we do that, are you sure your cache works correctly? Can you jump into a server shell and set and get something from the cache for me? Best, Joe

[2020-11-04 10:49] sobolevn commented on #274
Yes, `cache` and `caches['default']` work correctly, they are simply `django.core.cache.backends.locmem.LocMemCache`, so they always work.
Link to settings: https://github.com/wemake-services/wemake-django-template/blob/master/%7B%7Bcookiecutter.project_name%7D%7D/server/settings/components/caches.py

Proof:
<img width="752" alt="Снимок экрана 2020-11-04 в 13 48 49" src="https://user-images.github

[2020-11-04 11:14] codingjoe commented on #274
Wait, `LocMemCache` that doesn't sound right for a production setup. What's your WSGI server? `gunicorn`? If so, the setup won't work. `LocMemCache` means your cache is stored in a single thread and thanks to the GIL also consistent within the same processes. But that's it. If you have multiple processes (as you would with gunicorn) or multiple app servers, your cache isn't consistent (shared) acr

[2020-11-04 11:48] sobolevn commented on #274
Yes, but I am talking about dev setup for now.

Done! Here's the test I [wrote](https://github.com/wemake-services/wemake-django-template/blob/master/%7B%7Bcookiecutter.project_name%7D%7D/tests/test_server/test_urls.py#L17):

[code]

It passes with `django-health-check = "3.12.1"`:

[code]

Now, let's update `django-health-check` to `3.16.0`. And rerun the tests:

[code]

[2020-11-05 10:05] maszaa opened #277 "Celery ping check does not work with multiple workers"
`app.control.ping()` actually returns `List[Dict[str, Dict[str, str]]]` not a `List` with one `Dict[str, Dict[str, str]]`. https://github.com/KristianOellegaard/django-health-check/blob/master/health_check/contrib/celery_ping/backends.py#L15 works fine with one worker but not with multiple ones. I'll address this issue myself later on today or this week.

[2020-11-05 14:08] #277 closed, assigned to nobody

[2020-11-05 14:23] codingjoe commented on #274
If it's version dependent, it's probably because now all cache backends get testsed and you have a dummy backend setup ;)
https://github.com/KristianOellegaard/django-health-check/commit/65db560940231b7f104a2cf8a11b88002c8b7a34
This is the commit that breaks your test, and here is your dummy cache https://github.com/wemake-services/wemake-django-template/blob/7f4e9f86882b02e9a8e0c83f7b64b124ad047b

[2020-11-05 16:06] sobolevn commented on #274
Oh, I see! Thanks a lot!

[2020-11-05 21:24] nniehoff opened #279 "Support Redis Authentication"
When checking the status of my redis environment I receive the following Exception:

[code]

This is a feature request to add the capability to authenticate to redis for health checks.

[2020-11-06 17:30] codingjoe commented on #279
Hi @nniehoff,

Thanks for reaching out. Would you mind elaborating a bit more on what you are requesting? I am afraid I am not familiar with the exception you posted and to what authentication you refer.

Just a wild guess, does your Redis URL include any hostname or password as described here?
https://metacpan.org/pod/URI::redis

Best,
Joe

[2020-11-06 19:57] nniehoff commented on #279
@codingjoe,

Thanks for getting back to me.  I am no redis expert by any means so I was just trying the redis URL from your documentation of `redis://redis:6379/0`.  Today, based on the link you provided I tried a more complete URL `redis://redis:6379/?db=0&password=secretpassword` and enabled debugging where I found this:

[code]

Still no luck.  Digging further I found some examples in the code

[2020-11-11 19:36] maszaa commented on #249
I think this is related to Raven/Sentry

[2020-11-11 19:36] #249 closed, assigned to codingjoe

[2020-11-13 15:35] codingjoe commented on #279
Hi @nniehoff,

You make a good point. I guess many people are used to the URL format, because of the whole [12factor](https://12factor.net/) idea to store credentials in the environment via URLs. It was originally promoted by Kenneth Reitz and Heroku  implemented in many PaaS providers too.

Feel free to open a patch to improve the documentation, though.

Best,
Joe

[2020-11-20 11:58] mindflayer opened #280 "Upgrading to the latest version makes our builds fail"
I am still trying to find out what is the actual problem, but we've noticed already in two different repos that our builds started failing with AWS waiting our healthchecks forever after we upgraded `django-health-check` to `3.16.1`

[2020-11-20 11:59] mindflayer commented on #280
I'll try to investigate a bit more during the weekend and re-open the issue in case I'll have more information to add.

[2020-11-20 16:07] #280 closed, assigned to nobody

[2021-01-18 13:22] skarzi opened #285 "celery_ping health check hangs when broker unavailable"
Hi :wave:

I am using `rabbitmq` as a broker, `celery==5.0.5`  and `django-health-check==3.16.2`.
Recently I have encountered an error related to the `celery_ping` health check that hangs when the broker (rabbitmq in my case) is not running.

Do you have any ideas about why it's happening?
I wonder why the `timeout` argument in `ping_result = app.control.ping(timeout=timeout)` is not used at all i

[2021-01-27 22:35] awichmann-mintel opened #286 "Django 1.11 support"
Hello, when did this package drop support for django 1.11?

[2021-01-28 07:27] codingjoe commented on #286
That must have been since before I took over maintainer ship, but latest in version 3.0.
I am sure you are aware that Django 1.11 has reached the end of extended support about a year ago.

[2021-01-28 07:27] #286 closed, assigned to nobody

[2021-01-29 16:07] awichmann-mintel commented on #286
ah, yeah. I found the commit that broke our stuff.
I was hoping you could point me to some table or release note that indicates which django versions are support in each release.

No biggie. We reverted to 3.14.2 and we're all good now.

[2021-02-04 15:59] codingjoe commented on #285
Hi @skarzi execellent question. Probably, because no one has thought of it yet. I would very much welcome a patch, that implements a timeout. If you are interested, feel free to open a pull-request and I will make sure to review it quickly. Best, Joe

[2021-02-17 16:39] n1ngu commented on #254
From https://github.com/KristianOellegaard/django-health-check/runs/1655033942 I see why this issue is still open.

[code]

I guess any PyPI package maintainer can generate a publishing token but only @KristianOellegaard can install it in this repository? Maybe its time to move to a little organization structure?

I see new releases show up regularly on PyPI. Are releases still being published man

[2021-02-17 20:22] KristianOellegaard commented on #254
@codingjoe updated - sorry missed notification. I have added the secret now but I can't figure out how to re-run the action to release it.

[2021-02-17 21:48] n1ngu commented on #254
@KristianOellegaard Given that the releases have been published to PyPI by other means, I bet attempting to re-run those actions would fail. Maybe it is better to wait for the next release?

Otherwise maybe publishing a post-release would be appropriate to test the token so this issue can be safely closed now. 3.16.2.post1 according to https://www.python.org/dev/peps/pep-0440/#post-releases ?

[2021-02-18 14:09] codingjoe commented on #254
Thanks, I tested it, it works.: https://github.com/KristianOellegaard/django-health-check/runs/1927527061?check_suite_focus=true
Thanks 🎉

[2021-02-18 14:09] #254 closed, assigned to KristianOellegaard

[2021-02-22 08:34] evili opened #287 "Incorrect Django version dependency"
The Django dependency is stated at `setup.cfg` as:

[code]

This does not work actually since any minor 1.11 release (1.11.29 for example) is "greater than" `1.11==1.11.0`.
The main incompatibility is the absence of `django.urls.path` in any Django<2.0.

This should be changed to:

[code]

For all versions of `django-health-check>=3.14`

And let setup.cfg as

[code]

for Django 1.11 or below.

[2021-02-22 12:34] #287 closed, assigned to codingjoe

[2021-02-22 12:36] codingjoe commented on #287
Hi @evili,

Thanks for reaching out and noticing that problem. You are correct the latest releases only support 2.2 and up.

Best,
Joe

[2021-03-24 15:00] dfrankow opened #288 "Support email checking"
This is a feature request, possibly low-priority.

Thanks for your work on this project. Looks nice.

I was evaluating this versus django-watchman, and they have an email check.

Might be useful to implement this?

Looks like I could implement my own custom check here, but I thought I'd mention this.

[2021-03-25 14:17] codingjoe commented on #288
Hi @dfrankow,

Interesting idea. What would you want to have tested? There are many email backends, so it could be tricky to test them all with a single check.

If you have anything in particular in mind, please share.

Best,
Joe

[2021-03-25 14:51] dfrankow commented on #288
Good question.

Ignoring difficulty, I think what I'd want to know is, "Is my email going to be received by someone?"

That includes being able to properly reach out to an SMTP server, having that email accepted for delivery, and having the proper setup for SPF and DMARC (see for example [this check](https://dmarcian.com/domain-checker/?domain=google.com) for google), which entails some DNS checks

[2021-03-31 13:20] codingjoe commented on #288
I looked at the test they do. They simply send an email. I don't know if that's a good idea. In fact, they explicitly warn you to not enable it. I am not again adding something like it, but I will close the issue for now. Best, Joe

[2021-03-31 13:20] #288 closed, assigned to codingjoe

[2021-03-31 15:33] Amoki opened #289 "Potential RabbitMQ password leak"
Hi and thanks for this awesome lib!

When generating a 500 with `DEBUG = True` or when sending 500 by mail, Django generates a report with env variables.
If the variable name is `settings.py` contains "PASSWORD" or "SECURE", Django replaces the values with *********.

The variable `BROKER_URL` contains the password. (And maybe the same for Redis?)

It could be great to be able to define a variable

[2021-04-01 07:35] codingjoe commented on #289
Hi @Amoki,

Thanks for reaching out. Hm… I see you point, however, we only chose `BROKER_URL` that's the setting `CELERY` uses.
Which is probably one of the most commonly used packages in the Django world.

The first scenario you describe is highly discouraged, you should never ever run `DEBUG=True` on a production application. The email part shouldn't really a problem, as crash reports are only s

[2021-04-01 07:35] #289 closed, assigned to codingjoe

[2021-04-09 07:45] db4y opened #290 "Access to Django request from within the plugin"
Hi

I'm writing a custom check and I would need some informations contained in Django's request object in my check. I could not find a way to access the request nor to pass it to the plugin.

Is it possible to access the request from the plugin?

Thank you.

[2021-04-09 08:20] skarzi commented on #290
Hi :wave:

I'm afraid it's not possible because [`CheckMixin`](https://github.com/KristianOellegaard/django-health-check/blob/master/health_check/mixins.py#L9) that is subclassed in [`MainView`](https://github.com/KristianOellegaard/django-health-check/blob/master/health_check/views.py#L80) doesn't pass the `request` object down to plugins `run_check` calls.
So the only way is to rewrite this pack

[2021-04-09 15:15] db4y commented on #290
Thank you for the quick answer @skarzi
Do you think it would be possible to add this feature to the package? I would be willing to help.

[2021-04-13 00:05] tmm opened #291 "Django 3.2 DEFAULT_AUTO_FIELD Warning"
[Django 3.2](https://docs.djangoproject.com/en/3.2/ref/settings/#default-auto-field) wants either `DEFAULT_AUTO_FIELD` to be set globally or `default_auto_field` in app config, otherwise the following warning shows up:

[code]

I can open a PR that adds a default to the [app config](https://github.com/KristianOellegaard/django-health-check/blob/master/health_check/db/apps.py#L6-L7) if that works.

[2021-04-13 10:17] codingjoe commented on #291
Hi @tmm

Good call. Please go for it!

Best,
Joe

[2021-04-13 16:56] codingjoe commented on #290
Yes, it would be 😉  If you want to contribute this feature I'd be happy to review it. Best, Joe

[2021-04-13 21:42] tmm commented on #291
@codingjoe Awesome - have something for you https://github.com/KristianOellegaard/django-health-check/pull/292

[2021-04-18 15:30] henryfentanes commented on #135
Sorry if it wasn't clear, but yes, in my case I used `CeleryHealthCheck` (https://github.com/KristianOellegaard/django-health-check/blob/master/health_check/contrib/celery/backends.py).

e.g.:
You can create your own health check like this, based off an existing one ...
[code]

[2021-04-18 15:35] rollue commented on #135
@henryfentanes I was trying a few more ways to see if I could figure out myself - before asking you the question. So I deleted the question.
One thing I didn't realize was that I would be getting such a quick reply! I really appreciate that! Thanks!
I'll try with your suggestion to see if it works! 👍

[2021-04-18 15:37] henryfentanes commented on #135
You're welcome @mhoonjeon. I really hope it works 😬 👍, please let us know...

[2021-04-18 17:52] rollue commented on #135
@henryfentanes Works for me. Thanks! You saved my days :)

[2021-04-19 12:18] maszaa opened #293 "Thought: should the primary key (id, AutoField) of the TestModel of the db check be a BigAutoField"
In our case I just checked the current value of the sequence and we have over 100 years to run out of integer serials so this is more like a thought at the moment. Should this be addressed? Maybe some use cases will run out of integers much quicker?

If the `id` is going to be changed, the sequence in PostgreSQL must also be altered as versions after 9.6 have it stored as 32 bit number instead of

[2021-04-19 15:57] codingjoe commented on #293
Hi @maszaa,

Thanks for reaching out and addressing the issue. I just address the same issue in [another comment](https://github.com/KristianOellegaard/django-health-check/pull/292#pullrequestreview-636665580).

In short, the table is always empty. Therefore, we will never run out of Integers. Of course, the sequence might reach the maximum integer, at which point you can simply reset the sequence

[2021-04-19 15:57] #293 closed, assigned to codingjoe

[2021-04-19 15:58] #291 closed, assigned to tmm

[2021-04-19 16:01] codingjoe commented on #135
It seems I missed a lot and @henryfentanes solved the issue. Thanks!

[2021-04-19 16:01] #135 closed, assigned to codingjoe

[2021-04-19 16:02] maszaa commented on #293
I think health checks are usually automated. Once PostgreSQL sequence runs out it will throw an exception causing health check to fail. That would cause at least some downtime depending on the situation. My point of view was to provide resources for optimal automation and SLA.

[2021-04-19 16:09] codingjoe commented on #293
You are right, the health check will fail. However, it will not cause downtime and in 100 years this might be a good reminder that you need to reset other sequences too.

You are welcome to contribute documentation for that feature. However, I don't want to maintain code that will not be executed once in my lifetime.

[2021-04-20 09:30] maszaa commented on #285
Related to this: https://github.com/celery/celery/issues/5067

Possible approach: https://github.com/celery/celery/issues/5067#issuecomment-656523289

[2021-04-20 09:34] maszaa commented on #285
Does the RabbitMQ health check have this same issue? I didn't find any logic to setting a timeout for connecting to the instance.

If that is addressed another option would be to first perform the broker check and mark Celery checks as failed if that failed.

[2021-04-22 13:56] maszaa opened #296 "Add 'time_taken' of each check to JSON response"
I like to use the JSON response with load balancer. Less data transferred.

But once health check takes long, there is no information, which check took long.

The HTML response has the durations but if you have to read the actual response in terminal etc. it's quite unreadable

`plugin.time_taken` could be added to the JSON response as well. The JSON response is much more readable as it is (even w

[2021-04-27 15:21] codingjoe commented on #296
Hi @maszaa,

If you built it, I will review it 👍

Best,
Joe

[2021-04-30 12:47] JakobJBauer commented on #296
This is now implemented in v2 of the API in PR #295

[2021-05-07 08:32] Sajam opened #298 "Django 3.2.2 & "Application instance <Task pending [...] took too long to shut down and was killed." issue"
Hi guys!

First - thanks for your hard work - we're heavily using your package for our health check and it works great!

To the point: we recently upgraded Django to version `3.2.2` and we started to receive the following errors (example one, there are different variations of it depending on a check):

[code]

When we tried to open the health check page it just hung and never loaded.

After hours

[2021-05-07 08:44] codingjoe commented on #298
Hi @Sajam,

I honestly don't know. I am not so involved with this part of the Django development. Besides, I currently don't use this package myself, so it's a bit harder to reproduce your scenario.

Therefore, if anyone has more details on this, help would be more than welcome.

Best,
Joe

[2021-05-07 11:15] codingjoe opened #299 "Call for new maintainership"
Hi there,

I am sorry to announce that I am retiring from this project. Despite not using the package myself for a while, I have been putting a lot of energy into this project. However, it is time to pass the torch to someone new.

Please let me know if you are interested in maintainership and I will coordinate the transition.

Best,
Joe

[2021-06-02 14:42] ntravis opened #300 "Verification of package for github dependency graph"
I originally filed this issue [here](https://github.com/dependabot/dependabot-core/issues/3829) (see for more details), and was directed to Github support. Attempting to file a ticket with them then gave me enough info that it has to come from someone with admin on the repo. It looks like a very quick process, though I know the repo is looking for a new maintainer

TL;DR to correct:

- Visit the g

[2021-06-29 09:46] skarzi commented on #299
Hi Joe :wave:

I can help with code reviews and responding to issues

[2021-06-30 06:32] guettli opened #303 "Pypi page: Broken Image"
There is a broken image in your pypi page:

![image](https://user-images.githubusercontent.com/414336/123912756-ba9e2d80-d97d-11eb-9b59-f4365d696346.png)

[2021-07-29 13:11] VivienGiraud commented on #236
I just had the same right now, without changing anything.
Do you how how you fixed it?

[2021-07-29 13:14] VivienGiraud commented on #236
Restarting celery seams to fix it, it might be a kind of race condition :/

[2021-08-28 04:38] ankitgoyal100 opened #306 "Separate URLs for each checked service"
I would like support for separate URLs for each service that is checked with this healthcheck. For instance, I'd like a separate URL for my Redis health check status and my Django health check status.

[2021-09-07 14:55] twkrol commented on #279
By default, for the ease of accessing Redis from other containers via Docker networking, the "Protected mode" is turned off by default. This means there is no user:password settings to use in typical dockerized installation.
The app works fine, but the redis health check is unable to connect.
Any idea how to solve that?

[2021-09-23 08:47] GitRon opened #308 "Django 4.1 deprecation warning"
Hi there!

I just saw a deprecation warning for a future django version. Maybe you could fix it?

Thx!
Ronny

[2021-10-06 18:57] maszaa commented on #299
How about [JazzBand](https://github.com/jazzband) as suggested in https://github.com/KristianOellegaard/django-health-check/pull/295#issuecomment-885561578

[2021-10-08 12:17] codingjoe commented on #299
No so sure, I think even if it is moved to Jazzband, it would need a lead, since some parts are due to be refactored.

[2021-10-14 16:56] lifenautjoe commented on #285
I see the same hanging with redis. Hangs forever taking important server resources.

[2021-10-28 12:12] marinaaaniram opened #310 "'staticfiles' is not a registered tag library"
Django==3.0.5
django-health-check==3.16.4

`TemplateSyntaxError at /ht/
'staticfiles' is not a registered tag library. Must be one of:
account
admin_list
admin_modify
admin_urls
cache
i18n
import_export_tags
l10n
log
raven
rest_framework
socialaccount
static
tz`

[2021-10-28 14:19] skarzi commented on #310
hi :wave:
Do you use a custom `health_check/index.html` template?
If so you need to replace `{% load staticfiles %}` with `{% load static %}`, because `staticfiles` template tag was removed in `Django==3.0.0`

[2021-10-29 10:34] #308 closed, assigned to nobody

[2021-11-03 10:45] DmytroLitvinov commented on #144
Hi @codingjoe , @KristianOellegaard ,

We are facing the same issue on `manage.py health_check` management command.
We use Redis as a broker and result backend.

Need to mention, that we have next version:
* celery[redis]==5.1.2

When we are running from shell same task which used in that command, we are getting result as expected. And also we checked that backend configured correctly:
[code]
And

[2021-11-07 16:10] hleroy opened #311 "Django 4 beta 1: Exception 'never_cache didn't receive an HttpRequest'"
While testing a project with Django 4 beta 1, I received the following error:

[code]

**Any idea what could cause it?**

Configuration and traceback below:

[code]

[2021-12-07 01:44] erdos4d commented on #311
I have this exact problem and pull request #314 fixes it for me.

[2021-12-10 09:20] gdalmau commented on #311
@hleroy @KristianOellegaard This can be closed, fixed in #314

[2021-12-10 09:25] #311 closed, assigned to nobody

[2021-12-19 00:46] Archmonger commented on #299
Hey @codingjoe
Coming here from the Jazzband org.
I would be willing to be project lead, and would support transitioning this repo to Jazzband.

[2021-12-19 01:05] Archmonger opened #316 "Health Check installed apps breaks Jazzmin"
When health_check is added as an installed app, Django will revert to the classic admin interface instead of [Jazzmin](https://github.com/farridav/django-jazzmin).

It appears that some of the health check imports prematurely loads the admin library.

Need to investigate db, cache, storage, and migrations libraries to track down root cause.

[code]
[code]

[2021-12-20 09:38] Archmonger commented on #316
Debugged and determined issue to not be related to Django Health Check, closing this ticket.

[2021-12-20 09:38] #316 closed, assigned to nobody

[2021-12-26 12:06] jayvdb commented on #299
I am a jazzband maintainer, and I use this package at work, and currently reworking a bunch of custom code to be a few custom health checks.

[2021-12-26 12:34] jayvdb commented on #268
Re-checked with v3.16.5, and I am using the GitHub tarball.

The sub-packages and index.html are still not installing.
Quite odd.

I have a little hack in my .spec file which "fixes" this

`sed -i 's/packages = health_check/packages = find:/' setup.cfg`

That fixes the installation of sub-packages, but I still need to manually install the index.html

And the `tests` being installed is very likely

[2022-01-18 07:27] KristianOellegaard commented on #299
What is required from me / @codingjoe to make progress on this? :-)

[2022-01-18 07:55] Archmonger commented on #299
Here's an outline for the typical Jazzband transfer process.

1) Make sure the repository meets basic [guidelines](https://jazzband.co/about/guidelines). _I'm pretty sure it meets all of them._
2) Join the Jazzband organization by logging in via [jazzband.co](https://jazzband.co).
3) Identify suitable project leads. _The Jazzband owner, Jannis Leidel, prefers project leads to have a long standing

[2022-02-14 07:42] tamkovich opened #319 "Health check generates ResourceWarning's"
I am using health check and found that it returns ResourceWarning's to my logs (google and console).

Here is how it looks like:
[code]

Could you please assist me with that?

[2022-03-12 17:57] lifenautjoe opened #321 "When RabbitMQ active queues is none, it throws an exception instead of failing gracefully"
Hi Kristian,

First of all, thank you for the amazing package! If you have a place where we can invite you some coffee's, we're thrilled to do so.

We're seeing some exceptions and thought someone else might also benefit from a resolution.

### Bug

We were experiencing issues with our RabbitMQ instance but instead of notifying us that there were issues with it, our API was throwing 500 errors.

#

[2022-03-16 14:50] tkarifl opened #322 "Please update the installation part on readme file"
Hello
In the installation part, the url() function in urlpatterns array is deprecated on newer django versions.
please rewrite this part using the re_path function =>[Django Docs](https://docs.djangoproject.com/en/4.0/ref/urls/#re-path)

[2022-05-04 23:56] frankwiles commented on #299
This seems kind of stalled.  While moving to Jazzband is ideal long term, if the process of moving is what is getting in the way I / REVSYS would be willing to take it over.

[2022-05-04 23:59] Archmonger commented on #299
I personally just went through a Jazzband ownership transfer for [`django-dbbackup`](https://github.com/jazzband/django-dbbackup). I would advise holding off on a Jazzband transfer until this issue is resolved:
- https://github.com/jazzband/help/issues/196

[2022-05-09 10:15] pgajdos opened #323 "use unittest.mock instead of mock"
Could you please consider to use built-in unittest.mock, as a fallback at least?

Background:
https://trello.com/b/WsskhdXA/opensuse-python
https://fedoraproject.org/wiki/Changes/DeprecatePythonMock

[2022-05-09 10:19] pgajdos commented on #323
Tested here:
https://build.opensuse.org/package/show/home:pgajdos:python/python-django-health-check

[2022-05-26 10:59] lotfyhussein opened #324 "Celery Health Check, "TimeoutError: The task took too long to return a result""
Hello,

we use django health check with celery and redis as a broker. We randomly get an exception "TimeoutError: The task took too long to return a result". We get this error like twice a day.

Is the default timeout for the task to return a result 3 seconds?

Does the error indicate there is possibly a jam in the celery queue?

Thanks

[2022-06-15 13:01] jacksbox opened #325 "BUG: 3.16.5 breaks django 4.0.5"
installed:
django-health-checks: 3.16.5
django: 4.0.5

`python manage.py` commands throw following error: `ImportError: cannot import name 'ugettext_lazy' from 'django.utils.translation'` (in `health_check/apps.py`)

[2022-07-15 16:11] duducp commented on #325
Hi @jacksbox, I'm not the maintainer of this project and I'm just trying to reproduce the error you mentioned but I couldn't get it. Looking in the project code I didn't find any `ugettext_lazy` import references. Could you check again if this error is not coming from your personal project?

[2022-09-02 13:48] codingjoe commented on #299
I put in the effort to update the CI system and remove some deprecation warnings. However, I don't have time to review any feature PRs. Until we find new maintainership, I'd invite everyone to consider donating. It doesn't pay the bills, but it does help with the motivation.

[2022-09-02 13:49] codingjoe commented on #323
Hi @pgajdos,

Thanks for reaching out. I did just address all open deprecation warnings I could find in the latest release. This does include no longer using the mock page.

Cheers,
Joe

[2022-09-02 13:49] #323 closed, assigned to nobody

[2022-09-02 13:51] #300 closed, assigned to nobody

[2022-09-02 15:55] frankwiles commented on #299
Offer for us at REVSYS to take over as maintainers still stands FYI

[2022-09-02 16:28] codingjoe commented on #299
@frankwiles sorry mate, I didn't see your comment. That be wonderful! @KristianOellegaard I'd recommend moving ownership to revsys. Only good people there :)

[2022-09-19 12:02] anudeepsamaiya commented on #299
Just curious, what will be the next steps for moving ownership to revsys? @frankwiles @KristianOellegaard @codingjoe

If I can help in some form to move this quicker, do comment. I use this library and would love getting more feature PRs accepted.

[2022-09-19 12:22] KristianOellegaard commented on #299
@frankwiles if you are open to take over and it's okay with @codingjoe then let's do it :-)

[2022-09-19 15:02] frankwiles commented on #299
Awesome! I'm about to head out for some travel to speak at the Denver Python meetup, but maybe we could hop on a zoom call next week to figure out the details of moving things over.  Moving the github repo, PyPI, etc, etc.

[2022-09-20 06:39] anudeepsamaiya commented on #299
Sounds great, I also would like to say I'd be very happy to help out and can give at least a few hours each week.

[2022-09-24 10:27] codingjoe commented on #299
👍

[2022-09-26 20:50] frankwiles commented on #299
@KristianOellegaard @codingjoe can one of you email us all to start a thread on getting this cut over? My email address is frank@revsys.com and we can setup a time to chat and make this smooth.

[2022-10-26 17:37] frankwiles commented on #299
We've completed the transfer process.  Thanks again @codingjoe and @KristianOellegaard for letting us take it over.

[2022-10-26 17:37] #299 closed, assigned to KristianOellegaard